---
layout: default
title: Modules
subheadline: Aspectran Integration with Other Libraries
teaser: 다양한 외부 라이브러리 연동에 필요한 자바 소스 패키지와 설정 메타데이터를 모듈 형태로 제공합니다.
header:
   image_fullwidth: header_modules.jpg
   caption: Photo by Juho Jeong
article_heading: true
breadcrumb: true
permalink: /modules/
categories:
  - name: ORM
    path: orm
    description: 현재 iBatis, My Batis의 트랜잭션 관리와 연동을 지원합니다.
  - name: Utility
    path: utility
    description: Aspectran의 공통 유틸리티 패키지에 포함되어 있는 모듈 중에서 몇 가지를 소개합니다.
---

<div class="row">
	<div class="medium-8 columns t30">

    {% for category in page.categories %}
    <div class="coloumns b30">
      <h2><a href="{{ category.path }}">{{ category.name }}</a></h2>
      <p>{{ category.description }}</p>
      <ul class="accordion" data-accordion data-allow-all-closed="true">
  			{% assign counter = 1 %}
        {% assign modules = site.modules | where: "category", category.name %}
  			{% for module in modules limit:1000 %}
  			<li class="accordion-item">
  			  <a href="#{{ category.path }}-panel{{ counter }}" role="tab" class="accordion-title" id="{{ category.path }}-panel{{ counter }}-heading" aria-controls="{{ category.path }}-panel{{ counter }}"><span class="iconfont"></span><strong>{{ module.title }}</strong></a>
  				<div id="{{ category.path }}-panel{{ counter }}" data-tab-content role="tabpanel" class="accordion-content" aria-labelledby="{{ category.path }}-panel{{ counter }}-heading">
  					{% if module.meta_description %}{{ module.meta_description | strip_html | escape }}{% elsif module.teaser %}{{ module.teaser | strip_html | escape }}{% endif %}
  					<p class="text-right"><a class="button small" href="{{ site.baseurl }}{{ module.url }}" title="{{ module.title escape_once }}">{{ site.data.language.read_more }}</a></p>
  				</div>
  			</li>
  			{% assign counter = counter | plus:1 %}
  			{% endfor %}
  		</ul>
    </div>
    {% endfor %}

	</div><!-- /.medium-8.columns -->

	<div class="medium-4 columns t30">
		{% include sidebar %}
	</div><!-- /.medium-4.columns -->
</div><!-- /.row -->
