---
layout: page
format: "plate solid"
title: Modules
subheadline: Aspectran Integration with Other Libraries
teaser: Provides java source packages and configuration metadata that can integrate the various external libraries.
header:
  image_fullwidth: header_guides.jpg
  caption: Ultimate Raspberry Pi Backend Server
sidebar: right
breadcrumb: true
permalink: /modules/
categories:
  - name: ORM
    path: orm
    description: 현재 iBatis, My Batis의 트랜잭션 관리와 연동을 지원합니다.
  - name: Utility
    path: utility
    description: Aspectran의 공통 유틸리티 패키지에 포함되어 있는 모듈 중에서 몇 가지를 소개합니다.
---

{% for category in page.categories %}
<div class="cell b30">
  <h2><a href="{{ category.path }}">{{ category.name }}</a></h2>
  <p>{{ category.description }}</p>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    {% assign modules = site.modules | where: "category", category.name %}
		{% for module in modules limit:1000 %}
		<li class="accordion-item" data-accordion-item>
		  <a href="#" class="accordion-title"><span class="iconfont"></span><strong>{{ module.title }}</strong></a>
			<div class="accordion-content" data-tab-content>
				{% if module.meta_description %}{{ module.meta_description | strip_html | escape }}{% elsif module.teaser %}{{ module.teaser | strip_html | escape }}{% endif %}
				<p class="text-right"><a class="button small" href="{{ site.baseurl }}{{ module.url }}" title="{{ module.title | escape_once }}">{{ site.data.language.read_more }}</a></p>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endfor %}
