    <div class="container{% if page.format contains 'fluid' %} fluid{% endif %}">
      <div id="up-to-top" class="row">
        <div class="col text-end">
          <a href="#top-of-page"><i class="bi bi-chevron-up"></i></a>
        </div>
      </div>
    </div>

    <footer id="footer-content">
      <div id="footer">
      {% if page.auto_lang != nil %}
        {% for lang in site.lang_order %}
          {% include _footer-content.liquid lang=lang auto_lang=true %}
        {% endfor %}
      {% else %}
        {% include _footer-content.liquid lang=page.lang %}
      {% endif %}
      </div>

      <div id="subfooter">
        <div class="container">
          <nav class="row">
            <section id="subfooter-left" class="col-md-6">
              <p class="credits">Copyright © 2008–2025 The Aspectran Project</p>
            </section>

            <section id="subfooter-right" class="col-md-6">
              {% if site.data.socialmedia != nill and site.data.socialmedia.size > 0 %}
              <ul class="social-icons">
                {% for social_item in site.data.socialmedia %}
                <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
                {% endfor %}
              </ul>
              {% endif %}

              {% if page.auto_lang != nil %}
                {% for lang in site.lang_order %}
                  {% include _footer-lang-switcher.liquid lang=lang auto_lang=true %}
                {% endfor %}
              {% else %}
                {% include _footer-lang-switcher.liquid lang=page.lang %}
              {% endif %}
            </section>

          </nav>
        </div>
      </div>
    </footer>
