    <div class="grid-container{% if page.format contains 'fluid' %} fluid{% endif %}">
      <div id="up-to-top" class="grid-x">
        <div class="cell" style="text-align: right;">
          <a class="iconfont" href="#top-of-page">&#xf108;</a>
        </div>
      </div><!-- /.grid-x -->
    </div>

    <footer id="footer-content">
      <div id="footer">
      {% if page.auto_lang != nil %}
        {% for lang in site.lang_order %}
          {% include _footer-content.liquid lang=lang auto_lang=true %}
        {% endfor %}
      {% else %}
        {% include _footer-content.liquid lang=page.lang %}
      {% endif %}
      </div>

      <div id="subfooter">
        <div class="grid-container">
          <nav class="grid-x">
            <section id="subfooter-left" class="medium-6 cell">
              <p class="credits">Copyright © 2008–2025 The Aspectran Project</p>
            </section>

            <section id="subfooter-right" class="medium-6 cell">
              {% if site.data.socialmedia != nill %}
              <ul class="social-icons">
                {% for social_item in site.data.socialmedia %}
                <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
                {% endfor %}
              </ul>
              {% endif %}

              {% if page.auto_lang != nil %}
                {% for lang in site.lang_order %}
                  {% include _footer-lang-switcher.liquid lang=lang auto_lang=true %}
                {% endfor %}
              {% else %}
                {% include _footer-lang-switcher.liquid lang=page.lang %}
              {% endif %}
            </section>

          </nav>
        </div>
      </div><!-- /#subfooter -->
    </footer><!-- /#footer-content -->
