{% comment %}TODO consider https://developers.google.com/custom-search/docs/element{% endcomment %}
{% capture google_search_site %}https://aspectran.com/{% endcapture %}
<form name="google-search" onsubmit="window.open('https://www.google.com/search?q=' + this.keyword.value + '+site:{{ google_search_site | cgi_escape }}'); return false;">
  <div class="input-group">
    <input class="form-control" type="text" name="keyword" placeholder="{{ site.data.messages[page.lang].enter_search_term }}">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
<noscript>
  Search <a href="https://www.google.com/search?q=site:{{ google_search_site | cgi_escape }}" target="_blank">Google</a> for:
  <pre><code>search-term site:{{ google_search_site }}</code></pre>
</noscript>
