{% if page.format contains "plate" or page.format contains "compact" or page.format contains "article" %}


  <div id="masthead"{% if page.format contains 'compact' %} class="masthead-compact"{% endif %}>
    <div class="grid-container{% if page.format contains 'fluid' %} fluid{% endif %}">
      <div class="grid-x">
        <div class="cell">
          <header>
            <p class="subheadline" itemprop="alternativeHeadline">{% if page.subheadline %}{{ page.subheadline }}{% else %}&nbsp;{% endif %}</p>
            <h1 itemprop="headline">{{ page.title }}</h1>
            {% if page.teaser %}
            <p class="teaser" itemprop="description">
              {{ page.teaser }}
            </p>
            {% endif %}
          </header>
          {% if page.tabs %}
          <dl class="tabs {{ page.tabs_align }}" data-tabs>
            {% for tab in page.tabs %}
            <dd class="tabs-title{% if tab.active == true %} is-active{% endif %}" id="tab-{{ tab.id }}"><a href="#{{ tab.id }}">{% if tab.bullet %} <span class="bullet {{ tab.bullet }}"></span>{% endif %} {{ tab.title }}{% if tab.indicator %} <span class="indicator {{ tab.indicator }}"></span>{% endif %}</a></dd>
            {% endfor %}
          </dl>
          {% endif %}
        </div>
      </div>
      {% unless page.header.image_fullwidth %}
      <div class="hexagons">
        <div class="hexagon hex1"></div>
        <div class="hexagon hex2"></div>
        <div class="hexagon hex3"></div>
        {% unless page.format contains 'compact' %}
        <div class="hexagon hex5"></div>
        <div class="hexagon hex6"></div>
        {% endunless %}
      </div>
      {% endunless %}
    </div>
    <div class="grid-container grid-x breadcrumbs-bar{% if page.format contains 'fluid' %} fluid{% endif %}">
      <div class="cell">
        {% if page.breadcrumb == true %}
        {% include _breadcrumb.html %}
        {% else %}
        &nbsp;
        {% endif %}
      </div>
    </div>
  </div>


{% elsif page.header.image_fullwidth or page.header.slide_images %}


  <div id="masthead" class="masthead-with-image-header">
    <div class="grid-container{% if page.format contains 'fluid' %} fluid{% endif %}">
      <div class="grid-x">
        <div class="cell">
          <header>
            <p class="subheadline" itemprop="alternativeHeadline">{% if page.subheadline %}{{ page.subheadline }}{% else %}&nbsp;{% endif %}</p>
            <h1 itemprop="headline">{{ page.title }}</h1>
            {% if page.teaser %}
            <p class="teaser" itemprop="description">
              {{ page.teaser }}
            </p>
            {% endif %}
          </header>
        </div>
      </div>
    </div>
  </div>
  {% if page.breadcrumb == true %}
  <div class="breadcrumbs-bar">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          {% include _breadcrumb.html %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}


{% else %}


{% if page.breadcrumb == true %}
<div id="masthead" class="no-header">
  {% if page.breadcrumb == true %}
  <div class="breadcrumbs-bar">
    <div class="grid-container{% if page.format contains 'fluid' %} fluid{% endif %}">
      <div class="grid-x">
        <div class="cell">
          {% include _breadcrumb.html %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}


{% endif %}
