<div class="quick-search-box mx-3 my-2 m-lg-0{% if include.auto_lang %} auto-lang {{ include.lang }}{% endif %}">
  <form name="google_quick_search" role="search">
    <div class="input-group">
      <input class="form-control" type="text" name="keyword" placeholder="{{ site.data.messages[include.lang].search }}" aria-label="{{ site.data.messages[include.lang].search }}" aria-describedby="top-bar-quick-search-btn">
      <button class="btn btn-outline-primary text-white" type="button" id="top-bar-quick-search-btn"><i class="bi bi-search"></i></button>
    </div>
  </form>
</div>