<nav id="navigation" class="no-js">
  <div class="title-bar" data-responsive-toggle="gnb-menu" data-hide-for="large" style="display:none">
    <div class="title-bar-left">
      <a class="logo" href="{{ site.baseurl }}/" title="{{ site.title }}"><img src="{{ site.baseurl }}/assets/img/{{ site.logo_img }}" alt="Aspectran"/></a>
    </div>
    <div class="title-bar-center">
      <a href="#top-of-page">{{ site.title }}</a>
    </div>
    <div class="title-bar-right" data-toggle="gnb-menu">
      <a class="menu-icon" title="Menu"></a>
    </div>
  </div>

  <div class="top-bar" id="gnb-menu" style="display:none">
    <div class="grid-container">
      <div class="top-bar-logo">
        <div class="circle">
          <a class="logo" href="{{ site.baseurl }}/" title="{{ site.title }}"><img src="{{ site.baseurl }}/assets/img/{{ site.logo_img }}" alt="Aspectran"/></a>
        </div>
      </div>
      <div class="top-bar-left">
        <ul class="dropdown menu left" data-dropdown-menu>
          {% for item in site.data.navigation %}

            {% if item.url contains 'http' %}
              {% assign domain = '' %}
            {% elsif item.url == '#' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url %}
            {% endif %}

            {% comment %}   If there are items for left side begin   {% endcomment %}
            {% if item.side == 'left' %}

              {% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
              {% if item.dropdown == nil %}
                <li{% if page.url contains item.url %} class="active"{% endif %}>
                  <a href="{{ site.baseurl }}{{ item.url }}"{% if item.url contains 'http' %} target="_blank"{% endif %}>{{ item.title | escape }}</a>
                </li>

              {% comment %}   If left side WITH dropdown menu do   {% endcomment %}
              {% else %}

                <li class="has-submenu{% if page.url contains item.url %} active{% endif %}">
                  <a href="{{ site.baseurl }}{{ item.url }}"{% if item.url contains 'http' %} target="_blank"{% endif %}>{{ item.title | escape }}</a>
                  <ul class="submenu menu vertical" data-submenu>
                    {% for submenu_item in item.dropdown %}

                      {% if submenu_item.url contains 'http' %}
                        {% assign domain = '' %}
                      {% else %}
                        {% assign domain = site.url %}
                      {% endif %}

                      <li>
                        <a href="{{ site.baseurl }}{{ submenu_item.url }}"{% if submenu_item.url contains 'http' %} target="_blank"{% endif %}>{{ submenu_item.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>

                </li>
              {% endif %}
            {% endif %}
          {% endfor %}

        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu right" data-dropdown-menu data-close-on-click-inside="false">
        {% for item in site.data.navigation %}

          {% if item.url contains 'http' %}
            {% assign domain = '' %}
          {% elsif item.url == '#' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = site.url %}
          {% endif %}

          {% comment %}   If there are items for right side begin   {% endcomment %}
          {% if item.side == 'right' %}
            {% comment %}   If right side WITHOUT dropdown menu do   {% endcomment %}
            {% if item.dropdown == nil %}
              <li{% if page.url contains item.url %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ item.url }}"{% if item.url contains 'http' %} target="_blank"{% endif %}>{{ item.title | escape }}</a></li>

            {% comment %}   If right side WITH dropdown menu do   {% endcomment %}
            {% else %}

              <li{% if page.url contains item.url %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}{{ item.url }}"{% if item.url contains 'http' %} target="_blank"{% endif %}>{{ item.title | escape }}</a>
                <ul class="menu vertical" data-submenu data-close-on-click-inside="false">
                  {% for submenu_item in item.dropdown %}

                    {% if submenu_item.url contains 'http' %}
                      {% assign domain = '' %}
                      {% else %}
                      {% assign domain = site.url %}
                    {% endif %}

                    <li><a href="{{ site.baseurl }}{{ submenu_item.url }}"{% if submenu_item.url contains 'http' %} target="_blank"{% endif %}>{{ submenu_item.title | escape }}</a></li>
                  {% endfor %}
                </ul>

              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
        <div class="quick-search-box">
          <form name="google_quick_search">
            <div class="input-group">
              <input class="input-group-field" type="text" name="keyword" placeholder="Search">
              <div class="input-group-button">
                <button type="submit" class="button"><i class="fi-magnifying-glass"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% if page.breadcrumb == true %}
      <div class="breadcrumbs-bar" style="display:none">
        <div class="grid-container">
          {% include _breadcrumb.html %}
        </div>
      </div>
    {% endif %}
  </div>
</nav>
