<div class="quick-search-box{% if include.auto_lang %} auto-lang {{ include.lang }}{% endif %}">
  <form role="search" name="google_quick_search">
    <div class="input-group">
      <input class="form-control" type="text" name="keyword" placeholder="{{ site.data.messages[include.lang].search }}" aria-label="{{ site.data.messages[include.lang].search }}" aria-describedby="top-bar-search-btn">
      <button class="btn btn-outline-secondary" type="button" id="top-bar-search-btn"><i class="bi bi-search"></i></button>
    </div>
  </form>
</div>