<nav id="navigation" class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="title-bar">
    <div class="title-bar-left">
      {% if page.auto_lang != nil %}
        {% for lang in site.lang_order %}
          {% include _navigation-logo.liquid lang=lang auto_lang=true %}
        {% endfor %}
      {% else %}
        {% include _navigation-logo.liquid lang=page.lang %}
      {% endif %}
    </div>
    <div class="title-bar-center">
      <a href="#top-of-page">{{ site.title }}</a>
    </div>
    <div class="title-bar-right">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="top-bar collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container d-lg-flex g-0 g-lg-4">
      <div class="top-bar-logo">
        <div class="circle">
          {% if page.auto_lang != nil %}
            {% for lang in site.lang_order %}
              {% include _navigation-logo.liquid lang=lang auto_lang=true %}
            {% endfor %}
          {% else %}
            {% include _navigation-logo.liquid lang=page.lang %}
          {% endif %}
        </div>
      </div>
      <div class="top-bar-left me-auto">
        {% if page.auto_lang != nil %}
          {% for lang in site.lang_order %}
            {% include _navigation-top-bar-left-nav.liquid lang=lang auto_lang=true %}
          {% endfor %}
        {% else %}
          {% include _navigation-top-bar-left-nav.liquid lang=page.lang %}
        {% endif %}
      </div>
      <div class="top-bar-right d-lg-flex align-items-center gap-3">
        {% if page.auto_lang != nil %}
          {% for lang in site.lang_order %}
            {% include _navigation-top-bar-right-nav.liquid lang=lang auto_lang=true %}
            {% include _navigation-top-bar-right-search.liquid lang=lang auto_lang=true %}
            {% include _navigation-top-bar-right-settings.liquid lang=lang auto_lang=true %}
          {% endfor %}
        {% else %}
          {% include _navigation-top-bar-right-nav.liquid lang=page.lang %}
          {% include _navigation-top-bar-right-search.liquid lang=page.lang %}
          {% include _navigation-top-bar-right-settings.liquid lang=page.lang %}
        {% endif %}
      </div>
    </div>
  </div>
</nav>
