<aside class="lazy-sticky">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="bi bi-github underline"> Aspectran Guides</h5>
    </div>
    <div class="panel-body">
      <p class="text-muted">
        Provides sample applications developed using Aspectran.
        You can learn basic usage of Aspectran through the source code of simple applications.
      </p>
      {% include link-box.liquid href="https://github.com/aspectran-guides" %}
      <p class="text-muted">
        Aspectran is open source. It's hosted, developed, and maintained on GitHub.
      </p>
    </div>

    {% if site.google_translate_website == true %}
    <div id="google_translate_element"></div>
    {% endif %}
  </div>
</aside>
