<aside class="lazy-sticky">
  <div class="panel radius white">
    <h5 class="fi-social-github underline"> Aspectow</h5>
    <p>
      Aspectow Light is a very lightweight web application server that is primarily useful for building REST API servers.
    </p>
    {% include link-box.liquid href="https://github.com/aspectran/aspectow-light" %}
    <p>
      Aspectow Enterprise is an optimized solution for building enterprise web applications.
    </p>
    {% include link-box.liquid href="https://github.com/aspectran/aspectow-enterprise" %}
    {% if site.google_translate_website == true %}
    <div id="google_translate_element"></div>
    {% endif %}
  </div>
</aside>