<aside class="lazy-sticky">
  <div id="toc" class="{{ include.side }}">
    <h5 class="toc-title underline bi bi-list-nested"> {{ site.data.messages[page.lang].table_of_contents }}</h5>
    <ul class="list-unstyled">
    </ul>
  </div>
</aside>
