<aside class="lazy-sticky">
  <div class="panel radius white">
    <h5 class="fi-social-github underline"> Aspectran project on GitHub</h5>
    <p>You can view or participate in Aspectran's development progress on GitHub.</p>
    {% include link-box href="https://github.com/aspectran" %}

    <h5 class="fi-social-github underline"> Getting Started Projects</h5>
    <p>There are several demo projects that introduce Aspectran and help getting started with it.</p>
    {% include link-box href="https://github.com/aspectran?utf8=%E2%9C%93&q=gs-" %}

    <p>Aspectran is open source. It's hosted, developed, and maintained on GitHub.</p>

    {% if site.google_translate_website == true %}
    <div id="google_translate_element"></div>
    {% endif %}
  </div>
</aside>
