<aside class="lazy-sticky">
  <div id="toc" class="{{ include.side }}">
    <h5 class="toc-title underline">Table of Contents</h5>
    <ul class="list-unstyled">
    </ul>
  </div>
  {% if site.google_translate_website == true %}
  <div id="google_translate_element"></div>
  {% endif %}
</aside>
