<aside class="lazy-sticky">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="bi bi-github underline"> GitHub의 Aspectran 프로젝트</h5>
    </div>
    <div class="panel-body">
      <p class="text-muted mb-0">
        Aspectran의 개발 진행 상황을 확인하거나 GitHub에 참여해 보세요.
      </p>
      {% include link-box href="https://github.com/aspectran" %}
    </div>
    <div class="panel-heading mt-4">
      <h5 class="bi bi-github underline"> Aspectow Light &amp; Enterprise</h5>
    </div>
    <div class="panel-body">
      <p class="text-muted mb-0">
        Aspectow Light는 매우 가벼운 웹 애플리케이션 서버로, 주로 REST API 서버를 구축하는 데 유용합니다.
      </p>
      {% include link-box href="https://github.com/aspectran/aspectow-light" %}
      <p class="text-muted mt-1 mb-0">
        Aspectow Enterprise는 엔터프라이즈 웹 애플리케이션 구축하는 데 최적화된 솔루션입니다.
      </p>
      {% include link-box href="https://github.com/aspectran/aspectow-enterprise" %}
    </div>
    {% if site.google_translate_website == true %}
      <div id="google_translate_element"></div>
    {% endif %}
  </div>
</aside>
