<aside class="lazy-sticky">
  <div class="panel radius white">
    <h5 class="fi-social-github underline"> Aspectran project on GitHub</h5>
    <p>
      You can view or participate in Aspectran's development progress on GitHub.
    </p>
    {% include link-box href="https://github.com/aspectran" %}

    <h5 class="fi-social-github underline"> Aspectow Light &amp; Enterprise</h5>
    <p>
      Aspectow Light is a very lightweight web application server that is primarily useful for building REST API servers.
    </p>
    {% include link-box href="https://github.com/aspectran/aspectow-light" %}
    <p>
      Aspectow Enterprise is an optimized solution for building enterprise web applications.
    </p>
    {% include link-box href="https://github.com/aspectran/aspectow-enterprise" %}

    {% if site.google_translate_website == true %}
    <div id="google_translate_element"></div>
    {% endif %}
  </div>
  <div class="panel radius white t10">
    <div class="grid-x grid-margin-x">
      <div class="cell small-3 text-center t10">
        <a href="https://www.jetbrains.com/?from=Aspectran"><img src="/assets/img/jetbrains.svg" alt="JetBrains"/></a>
      </div>
      <div class="cell small-9">
        <p><a href="https://www.jetbrains.com/?from=Aspectran"><strong>JetBrains</strong></a> products are very helpful in developing <strong>Aspectran</strong>.
          Thank you for the Open Source License!</p>
      </div>
    </div>
  </div>
</aside>
