<aside class="lazy-sticky">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="bi bi-github underline"> Aspectran project on GitHub</h5>
    </div>
    <div class="panel-body mt-2">
      <p class="text-muted mb-0">
        Check out Aspectran’s development progress or get involved on GitHub.
      </p>
      {% include link-box.liquid href="https://github.com/aspectran/aspectran" %}
    </div>
    <div class="panel-heading mt-4">
      <h5 class="bi bi-github underline"> Aspectow project on GitHub</h5>
    </div>
    <div class="panel-body">
      <p class="text-muted mt-2 mb-0">
        Aspectow is a powerful framework for building enterprise web applications.
      </p>
      {% include link-box.liquid href="https://github.com/aspectran/aspectow" %}
      <p class="text-muted  mt-2 mb-0">
        Aspectow Light is a very lightweight web application server, primarily useful for building REST API servers.
      </p>
      {% include link-box.liquid href="https://github.com/aspectran/aspectow-light" %}
    </div>
  </div>
</aside>
