<div class="input-group mt-1 mb-1">
  <span class="input-group-text">{{ include.label }}</span>
  <input type="text" class="form-control" value="{{ include.href }}" readonly>
  <button class="btn btn-outline-primary" type="button" onclick="window.open('{{ include.href }}')">Go</button>
</div>
