<div class="input-group mt-1 mb-1">
  <input type="text" class="form-control" value="{{ include.href }}" readonly>
  <button class="btn btn-outline-primary" type="button" onclick="window.open('{{ include.href }}')"><i class="bi bi-box-arrow-up-right"></i></button>
</div>
