---
title: Examples
teaser: Discover real-world examples to see Aspectran in action.
---

<div class="row g-3 pt-4">
  {% assign examples = site.examples | where: 'lang', page.lang | sort: 'date' %}
  {% for example in examples %}
  <div class="col-lg-6">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p class="text-muted mb-0">{% if example.headline %}{{ example.headline }}{% endif %}</p>
            <h4 class="border-bottom pb-2 mb-3"><a href="{{ site.baseurl }}{{ example.url }}" class="text-decoration-none">{{ example.title }}</a></h4>
          </div>
        {% if example.image.thumb %}
          <div class="col-md-4">
            <a href="{{ site.baseurl }}{{ example.url }}" title="{{ example.title | escape_once }}"><img src="{{ site.urlimg }}{{ example.image.thumb }}" class="img-fluid" alt="{{ example.title | escape_once }}"></a>
          </div>
          <div class="col-md-8">
            <p>
              {% if example.meta_description %}{{ example.meta_description | strip_html | escape }}{% elsif example.teaser %}{{ example.teaser | strip_html | escape }}{% endif %}
              <a href="{{ site.baseurl }}{{ example.url }}" title="{{ example.title | escape_once }}"><small>{{ site.data.messages[page.lang].read_more }}</small></a>
            </p>
          </div>
        {% else %}
          <div class="col-12">
            <p>
              {% if example.meta_description %}{{ example.meta_description | strip_html | escape }}{% elsif example.teaser %}{{ example.teaser | strip_html | escape }}{% endif %}
              <a href="{{ site.baseurl }}{{ example.url }}" title="{{ example.title | escape_once }}"><small>{{ site.data.messages[page.lang].read_more }}</small></a>
            </p>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>