---
#
# Use the widgets beneath and the content will be
# inserted automagically in the webpage. To make
# this work, you have to use › layout: frontpage
#
title: Aspectran
layout: frontpage
format: frontpage
widget1:
  title: Aspectran
  url: /en/aspectran/
  text: Aspectran is a lightweight framework for building high-performance Java applications.
widget2:
  title: Aspectow
  url: /en/aspectow/
  text: Aspectow is a lightweight, high-performance enterprise WAS based on Aspectran.
widget3:
  title: Projects
  url: /en/projects/
  text: Explore practical applications built with Aspectran.
widget4:
  title: Examples
  url: /en/examples/
  text: Discover real-world examples to see Aspectran in action.
widget5:
  title: Documentation
  url: /ko/docs/
  text: Explore Aspectran documentation to learn, configure, and unlock its full potential.
projects:
  - subheadline: Working examples of using Aspectran
    title: Aspectow AppMon
    description: Aspectow AppMon provides an integrated view to observe logs and events of Aspectran-based application servers in real time.
    thumb_img: examples/pr-log-relayer.png
    url: https://public.aspectran.com/monitoring/
    repo: https://github.com/aspectran/aspectow-appmon
  - subheadline: Working examples of using Aspectran
    title: Aspectran Demo Site
    description: This site is a collection of reference applications created to show how to develop Aspectran applications following the recommended best practices.
    thumb_img: examples/pr-demo-site.png
    url: https://demo.aspectran.com
    repo: https://github.com/aspectran/demo-app
  - subheadline: Working examples of using Aspectran
    title: JPetStore Demo
    description: JPetStore is a full web application built on top of MyBatis 3 and Aspectran 9.
    thumb_img: examples/pr-jpetstore.png
    url: https://jpetstore.aspectran.com
    repo: https://github.com/aspectran/aspectran-jpetstore
  - subheadline: Working examples of using Aspectran
    title: PetClinic Demo
    description: The goal of the PetClinic Demo App is to provide and demonstrate a sample web application that leverages Aspectran and JPA.
    thumb_img: examples/pr-skylark.png
    url: https://petclinic.aspectran.com
    repo: https://github.com/aspectran/aspectran-petclinic
permalink: /en/
---
<script>
  $(function () {
    setPreferredLangCodeToLocalStorage('{{ page.lang }}');
  });
</script>
{% comment %}
<div id="videoModal" class="reveal-modal large" data-reveal="">
  <div class="flex-video widescreen vimeo" style="display: block;">
    <iframe width="1280" height="720" src="" frameborder="0" allowfullscreen></iframe>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endcomment %}
