/* TOC – Typography variables

Modular Scale › http://modularscale.com/scale/?px1=16&px2=36&ra1=1.25&ra2=0

- Fonts
- Font Weight
- Font Size Variables

*/

@import "functions"; // Allows the use of rem-calc() or lower-bound() in your settings



/* Fonts
------------------------------------------------------------------- */

$base-font-size: 14px;
$rem-base: $base-font-size;
// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 1.5;


$font-family-sans-serif: "Open Sans", Arial, sans-serif;
$font-family-serif: "Open Sans", Arial, sans-serif;
$font-family-monospace: "Lucida Console", Monaco, monospace;

$body-font-family: $font-family-sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

$header-font-family: $font-family-serif;



/* Font Weight
------------------------------------------------------------------- */

$font-weight-normal: normal;
$font-weight-bold: bold;



/* Font Size Variables
------------------------------------------------------------------- */

$font-size-p: $base-font-size;
$font-size-h1: 2.441em;
$font-size-h2: 1.953em;
$font-size-h3: 1.563em;
$font-size-h4: 1.25em;
$font-size-h5: 1.152em;
$font-size-small: 0.8em;



/* Code
------------------------------------------------------------------- */

$code-background-color: #E3F1C7;

$highlight-background-color: #f5f5f5;
$highlight-border-color: scale-color($highlight-background-color, $lightness: -10%);
$highlight-comment: #999988;
$highlight-error: #a61717;
$highlight-comment-special: #999999;
$highlight-deleted: #000000;
$highlight-error-2: #aa0000;
$highlight-literal-string: #d14;
$highlight-literal-number: #009999;
$highlight-name-attribut: #008080;
$highlight-error-background: #e3d2d2;
$highlight-generic-deleted: #ffdddd;
$highlight-generic-deleted-specific: #ffaaaa;
$highlight-generic-inserted: #ddffdd;
$highlight-generic-inserted-specific: #aaffaa;
$highlight-generic-output: #888888;
$highlight-generic-prompt: #555555;
$highlight-subheading: #aaaaaa;
$highlight-keyword-type: #445588;
$highlight-name-builtin: #0086B3;
$highlight-name-class: #445588;
$highlight-name-entity: #800080;
$highlight-name-exception: #990000;
$highlight-name-function: #990000;
$highlight-name-namespace: #555555;
$highlight-name-tag: #000080;
$highlight-text-whitespace: #bbbbbb;
$highlight-literal-string-regex: #009926;
$highlight-literal-string-symbol: #990073;
