/* TOC

- Navigation
- Search
- Masthead
- Masthead › small-only
- Masthead › medium-only
- Masthead › large-only
- Masthead › xlarge-up
- Breadcrumb
- Meta
- Jump to top
- Footer
- Subfooter
- CSS-Classes to add margin at top or bottom
- Adjustments: Video Layout
- Frontpage

*/


/* Navigation
------------------------------------------------------------------- */

#navigation {
  text-shadow: rgba(0, 0, 0, .498039) 0px 1px 2px;
  &.fixed {
    opacity: .85;
    #masthead {
      margin-top: -1px;
    }
  }
}



/* Search
------------------------------------------------------------------- */

.no-js form#search {
  display: none;
}



/* Masthead
------------------------------------------------------------------- */

#masthead {
  position: relative;
  min-width: 320px;
  color: $ci-6;
  background-color: $primary-color;
  text-shadow: rgba(0, 0, 0, .498039) 0px 1px 2px;
  img {
    border-radius: 0;
  }
  header {
    h1 {
      color: $ci-6;
    }
  }
  .breadcrumbs-bar {
    color: $ci-6;
    padding-left: 1em;
    margin-top: 20px;
    border: 0;
    background-color: darken($primary-color, 6%);
    opacity: .7;
    a {
      color: $ci-6;
      font-weight: normal;
      &:link {
      }
      &:visited {
        border: 0;
      }
      &:hover {
        color: lighten($anchor-color, 10%);
      }
      &:focus {
        color: lighten($anchor-color, 20%);
      }
      &:active {
        color: darken($anchor-color, 20%);
      }
      &.current {
        color: $ci-6;
        font-weight: bold;
      }
    }
  }
}
.masthead-with-text {
  text-align: center;
  font-size: rem-calc(54);
  font-family: $header-font-family;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.masthead-no-image-header {
  #slogan {
    margin: 10px 0;
    img {
      height: 128px;
    }
  }
  header {
    padding-top: 2em;
  }
}


/* Masthead › small-only
------------------------------------------------------------------- */

@media #{$small-only} {
  #masthead {
    #forkme-ribbon {
      display: none;
    }
  }
  .masthead-caption {
    display: none;
  }
  .masthead-with-pattern {
    padding: 15px 0;
  }
  .masthead-with-background-color {
    padding: 15px 0;
  }
  .masthead-with-text {
    height: 220px;
    padding: 30px 0;
    font-size: rem-calc(36);
  }
  .masthead-with-image-header {
    height: 240px;
    #slogan {
      margin-top: 110px;
      margin-left: 0;
      img {
        height: 115px;
      }
    }
    header {
      margin-top: 1em;
    }
  }
  #toc {
    padding: 0 0 1em 0;
    border-left: 0;
    border-bottom: 3px solid $ci-3;
    .toc-title {
      border-bottom: 3px solid $ci-3;
    }
  }
  dl.tabs dd {
    clear: both;
  }
}


/* Masthead › medium-only
------------------------------------------------------------------- */

@media #{$medium-only} {
  .masthead-with-pattern {
    padding: 20px 0;
  }
  .masthead-with-background-color {
    padding: 20px 0;
  }
  .masthead-with-text {
    padding: 60px 0;
    height: 300px;
  }
  .masthead-with-image-header {
    height: 280px;
    #slogan {
      margin-top: 70px;
      margin-left: 33px;
      img {
        height: 170px;
      }
    }
    header {
      margin-top: 100px;
      h1 {
        font-weight: 700;
      }
    }
  }
}


/* Masthead › large-only
------------------------------------------------------------------- */

@media #{$large-only} {
  .masthead-with-pattern {
    padding: 30px 0;
  }
  .masthead-with-background-color {
    padding: 30px 0;
  }
  .masthead-with-text {
    height: 330px;
    padding: 60px 0;
  }
  .masthead-with-image-header {
    height: 310px;
    #slogan {
      margin-top: 90px;
      margin-left: 33px;
      img {
        height: 170px;
      }
    }
    header {
      margin-top: 130px;
      h1 {
        font-weight: 700;
      }
    }
  }
}


/* Masthead › xlarge-up
------------------------------------------------------------------- */

@media #{$xlarge-up} {
  .masthead-with-pattern {
    padding: 45px 0;
  }
  .masthead-with-background-color {
    padding: 45px 0;
  }
  .masthead-with-text {
    padding: 95px 0;
    height: 400px;
  }
  .masthead-with-image-header {
    height: 380px;
    #slogan {
      margin-top: 140px;
      img {
        height: 170px;
      }
    }
    header {
      margin-top: 190px;
      h1 {
        font-weight: 700;
      }
    }
  }
}



/* Breadcrumb
------------------------------------------------------------------- */

.breadcrumbs-bar {
  background: scale-color($grey-1, $lightness: 50%);
  .breadcrumbs {
    background: none;
    >.current {
      font-weight: bold;
    }
  }
}



/* Meta
------------------------------------------------------------------- */

#page-meta, #page-meta a {
  color: $grey-5;
}

#page-meta .button {
  background: $grey-5;
  border: 0;
}
#page-meta .button {
  color: #fff;
}
#page-meta .button:hover {
  background: $primary-color;
}
.meta-info {
  p {
    font-size: rem-calc(13);
    color: scale-color($grey-1, $lightness: 40%);
  }
  a {
    text-decoration: underline;
    color: scale-color($grey-1, $lightness: 40%);
    &:hover {
      text-decoration: none;
      color: $secondary-color;
    }
  }
}



/* Jump to top
------------------------------------------------------------------- */

#up-to-top {
    padding: 100px 0 10px 0;
}
#up-to-top a {
    font-size: 32px;
    padding: 5px;
    border-radius: $global-radius;
}
#up-to-top a:hover {
    background: $grey-2;
}



/* Footer
------------------------------------------------------------------- */

#footer-content {
  p, li {
    font-size: rem-calc(13);
    font-weight: 300;
  }
  #footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background: $footer-bg;
    color: $footer-color;
    text-shadow: rgba(0, 0, 0, .498039) 0px 1px 2px;
    a {
      color: $footer-link-color;
    }
    h4, h5 {
      letter-spacing: 1px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}


/* Subfooter
------------------------------------------------------------------- */

#subfooter {
  background: $subfooter-bg;
  color: $subfooter-color;
  padding-top: 30px;
  padding-bottom: 10px;
  #subfooter-left {
    ul.inline-list {
      float: left;
    }
  }
  .credits {
    text-shadow: rgba(0, 0, 0, .498039) 0px 1px 2px;
    a {
      color: $subfooter-link-color;
      border: 0;
      text-transform: uppercase;
      &:hover {
        color: #fff;
      }
    }
  }
  .social-icons {
    li a {
      font-size: rem-calc(23);
      display: block;
      width: 36px;
      border-radius: 50%;
      color: $subfooter-bg;
      background: $subfooter-color;
      text-align: center;
    }
    li a:hover {
      background: $subfooter-bg;
      color: #fff;
    }
  }
}



/* CSS-Classes to add margin at top or bottom
------------------------------------------------------------------- */

.t5 { margin-top: 5px !important; }
.t10 { margin-top: 10px !important; }
.t15 { margin-top: 15px !important; }
.t20 { margin-top: 20px !important; }
.t30 { margin-top: 30px !important; }
.t50 { margin-top: 50px !important; }
.t60 { margin-top: 60px !important; }
.t70 { margin-top: 70px !important; }
.t80 { margin-top: 80px !important; }
.t90 { margin-top: 90px !important; }

.b5 { margin-bottom: 5px !important; }
.b10 { margin-bottom: 10px !important; }
.b15 { margin-bottom: 15px !important; }
.b20 { margin-bottom: 20px !important; }
.b30 { margin-bottom: 30px !important; }
.b40 { margin-bottom: 40px !important; }
.b50 { margin-bottom: 50px !important; }
.b60 { margin-bottom: 60px !important; }

.l15 { margin-left: 15px !important; }
.r15 { margin-right: 15px !important; }

.pl20 { padding-left: 20px !important; }
.pr5  { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }


/* Adjustments: Video Layout
------------------------------------------------------------------- */

body.video,
body.video #masthead-no-image-header { background: #000; }
body.video #masthead-no-image-header { margin-bottom: 60px; }
body.video h1,
body.video h2,
body.video h3,
body.video h4,
body.video h5,
body.video h6,
body.video p,
body.video a,
body.video blockquote:before,
body.video blockquote:after,
body.video cite a, { color: #fff; }
body.video cite a:visited, { color: #fff; }
body.video cite { color: #fff; }


/* Frontpage
------------------------------------------------------------------- */

body.frontpage {
  .grey-ground {
    padding: 40px 0 20px;
    background-color: #F2F2F2;
  }
}
