// TOC – Color Variables
// - Basics
// - Corporate Identity Colorpalette
// - Grey Scale
// - Footer

// Basics
//-------

$bg-color: 	 #FFFFFF;
$text-color: #111111;
$link-color: #0088CC;
$head-color: #668395;

// Corporate Identity Colorpalette
// https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
//----------------------------------------------------------------------

$ci-0: #445259;   // darker turquoise
$ci-1: #516169;	  // dark turquoise
$ci-2: #677278;	  // turquoise
$ci-3: #3F7295;	  // blue
$ci-4: #2D844D;	  // green
$ci-5: #EFC94C;	  // yellow
$ci-6: #F97D37;	  // orange
$ci-7: #A53B2A;	  // red
$ci-8: #FFFFFF;   // white

// Grey Scale
//-----------

$grey-0: #F5F5F5;
$grey-1: #E4E4E4;
$grey-2: #D7D7D7;
$grey-3: #CBCBCB;
$grey-4: #BEBEBE;
$grey-5: #A4A4A4;
$grey-6: #979797;
$grey-7: #8B8B8B;
$grey-8: #7E7E7E;
$grey-9: #646464;
$grey-10: #575757;
$grey-11: #4B4B4B;
$grey-12: #3E3E3E;
$grey-13: #313131;
$grey-14: #242424;
$grey-15: #171717;
$grey-16: #0B0B0B;

// Footer
//-------

$footer-bg: $ci-1;
$footer-color: #fff;
$footer-link-color: $ci-8;
$footer-link-hover-color: yellow;

$subfooter-bg: $ci-0;
$subfooter-color: $grey-5;
$subfooter-link-color: $grey-5;
