// Go go top of page
//-------------------

p.gototop-anchor-wrap {
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

// Table of Contents (Index)
//--------------------------

#toc {
  @include breakpoint(medium down) {
    padding: 0 0 1em 0;
    border-top: 2px solid $ci-1;
    border-bottom: 2px solid $ci-1;
    border-radius: 12px;
    .toc-title {
      color: $ci-0;
      border-bottom: 1px solid $grey-2;
      padding: .4em .5em;
      margin: 0 .3em 1em .3em;
    }
  }
  @include breakpoint(large) {
    padding: .8em 0;
    border-left: 3px solid $ci-1;
    border-radius: 12px;
    .toc-title {
      color: $ci-0;
      border-bottom: 1px solid $grey-2;
      padding: 0 .4em .5em .9em;
      margin-bottom: 1em;
    }
    &.left {
      border: 0;
      border-right: 1px solid $grey-2;
      padding-bottom: 1.5em;
      .toc-title {
        display: none;
      }
    }
  }
  ul {
    margin: 0 0 0 .9em;
    list-style-type: none;
    li.toc-h1 {
      font-weight: bold;
      margin: 0 0 .5em 0;
    }
    li.toc-h2 {
      margin-left: 0;
    }
    li.toc-h3 {
      margin-left: 20px;
    }
    li.toc-h4 {
      margin-left: 40px;
    }
    li.toc-h5 {
      margin-left: 60px;
    }
    li.toc-h6 {
      margin-left: 80px;
    }
  }
}

article {
  a.toc-anchor {
    border: 0;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    margin: 0;
  }
}

// Accordion
//-----------

.accordion {
  border: 0;
  border-top: 1px solid $grey-2;
  border-radius: 0;
  .accordion-item {
    border-bottom: 1px solid $grey-2;
    .accordion-title {
      font-size: 100%;
      line-height: 1.4;
      border: 0;
      background-color: transparent;
      span.iconfont {
        padding-right: .5rem;
        &:before {
          content: "\F107"
        }
      }
    }
    &.is-active {
      .accordion-title {
        background-color: $grey-1;
        border-radius: 0 0 6px 6px;
        span.iconfont:before {
          content: "\F105"
        }
      }
    }
  }
  .accordion-content {
    padding: .7rem;
    border: 0;
    p {
      margin: 0;
    }
  }
}

// Brief List
//----------

.brief-list {
  list-style: none;
  margin: 0;
  border-top: 1px solid $grey-2;
  li {
    border-bottom: 1px solid $grey-2;
    padding: .7rem 0;
    &.more {
      border-bottom: 0;
      text-align: right;
    }
  }
}

// Tabs
//------

dl.tabs {
  position: relative;
  border: 0;
  border-bottom: 1px solid $ci-2;
  -webkit-box-shadow: 0 8px 15px -10px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: 0 8px 15px -10px rgba(50, 50, 50, 0.33);
  box-shadow: 0 8px 15px -10px rgba(50, 50, 50, 0.33);
  margin-bottom: 1em;
  background: none;
  dd {
    float: left;
    margin: 0;
    text-align: left;
    > a {
      font-size: .9em;
      font-weight: bold;
      margin-right: 1px;
      padding: .8em 1em .8em .8em;
      border: 0;
      background-color: $grey-2;
      border-radius: $global-radius $global-radius 0 0;
      &:hover {
        background-color: darken($grey-2, 5%);
      }
    }
    &.is-active {
      border: 0;
      > a {
        color: $ci-8;
        background-color: $ci-2;
      }
      .bullet {
        color: $ci-5;
        font-weight: normal;
      }
    }
    .bullet {
      color: darken($grey-2, 15%);
      padding-right: .2em;
    }
    .indicator {
      font-size: 1em;
      padding-left: .3em;
      color: darken($grey-2, 10%);
      &.on {
        color: $ci-6;
      }
    }
    .count {
      color: $ci-7;
      padding-left: .5rem;
    }
    .blink {
      animation: blink .8s steps(4, start) infinite;
      -webkit-animation: blink .8s steps(4, start) infinite;
    }
    @keyframes blink {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @-webkit-keyframes blink {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  &.b0 {
    border-bottom: none;
  }
}
#masthead dl.tabs {
  background: none;
  border-bottom: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
  dd {
    > a {
      font-size: 1em;
      text-shadow: none;
      margin-right: 2px;
      border-radius: $global-radius $global-radius 0 0;
      background: darken($head-color, 4%);
      &:hover {
        background: darken($head-color, 6%);
      }
    }
    &.is-active {
      > a {
        color: $ci-8;
        @include breakpoint(small only) {
          background: $ci-1;
        }
        @include breakpoint(medium) {
          background: $ci-2;
        }
      }
      .bullet {
        color: $ci-5;
      }
    }
    .bullet {
      color: darken($head-color, 15%);
    }
  }
}
.plate #masthead dl.tabs.right {
  float: right;
}
@include breakpoint(small only) {
  dl.tabs {
    border-bottom: 0;
    border-radius: 1em;
    dd {
      clear: both;
      margin-bottom: 3px;
      width: 100%;
      > a {
        border-radius: 35px;
      }
      .indicator {
        float: right;
      }
    }
  }
  #masthead dl.tabs {
    margin-bottom: .5rem;
    dd {
      > a {
        border-radius: $global-radius;
      }
    }
  }
}
.tabs-content {
  border: 0;
  .tabs-panel {
    padding: 1em 0 0 0;
  }
}

// Panel
//-------

.panel {
  padding: 1rem;
  border: 1px solid $grey-3;
  background-color: $grey-0;
  border-radius: $global-radius;
  h3, h4 {
    margin-top: 0 !important;
  }
  &.white {
    background-color: #fff;
  }
}

// Alerts
//--------

.alert-box {
  border: 1px solid #ccc;
  p {
    margin-bottom: 0;
  }
  a {
    border-bottom: 1px dotted $ci-1;
    &:hover {
      border-bottom: 1px solid $ci-1;
    }
  }
  &.info {
    background-color: #ececec;
  }
  &.success a {
    background-color: #E2F2FC;
  }
  &.warning {
    color: #F02B2B;
    a {
      background-color: #FCE9E6;
    }
  }
  &.terminal {
    background-color: $grey-12;
    color: #fff;
    border-color: scale-color($grey-12, $lightness: -14%);
    font-family: $font-family-monospace;
    a {
      color: #35D300;
    }
    &::before {
      content: "$ ";
      color: $ci-8;
    }
  }
  &.text {
    background-color: $grey-2;
    border-color: scale-color($grey-2, $lightness: -14%);
    color: $grey-12;
  }
}

/* Lazy Load XT
------------------------------------------------------------------- */

/*! Lazy Load XT v1.0.6 2014-11-19
 * http://ressio.github.io/lazy-load-xt
 * (C) 2014 RESS.io
 * Licensed under MIT */
img.lazy {
  display: none;
}
.lazy-hidden {
    opacity: 0;
}
.lazy-loaded {
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -ms-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    transition: opacity 0.7s;
    opacity: 1;
}

// google_translate_website
//--------------------------
#google_translate_element {
  margin-top: 1em;
  padding: .5em 1em;
  background-color: $bg-color;
  border: 1px solid $grey-3;
  border-radius: $global-radius;
  min-height: 75px;
}
