// TOC
// - Navigation
// - Plate Format
// - Masthead
// - Masthead › small-only
// - Masthead › medium-only
// - Masthead › large-only
// - Masthead › xlarge-up
// - Masthead for Frontpage
// - Breadcrumb
// - Meta
// - Jump to top
// - Footer
// - Subfooter
// - CSS-Classes to add margin at top or bottom
// - Adjustments: Video Layout
// - Asciinema
// - Frontpage
// - Hexagon shapes with pure CSS3

// Navigation
//-----------

#navigation {
  z-index: 100;
  text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
  text-transform: uppercase;
  .title-bar {
    line-height: 46px;
    background-color: $ci-0;
    padding: 0;
    width: 100%;
    overflow: auto;
    .title-bar-left {
      float: left;
      a.logo {
        position: absolute;
        top: 0;
        display: block;
        width: 37px;
        height: 37px;
        margin: rem-calc(5 12 0 12);
        background: url('/assets/img/aspectran-site-logo.png') no-repeat;
        background-size: cover;
        -webkit-transition: width .5s, height .5s, background-color 1s, -webkit-transform 1s;
        transition: width .5s, height .5s, background-color 1s, transform 1s;
        img {
          display: none;
        }
      }
      &:hover {
        a.logo {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
    .title-bar-center {
      position: absolute;
      left: 20%;
      right: 20%;
      padding: 0;
      text-align: center;
      text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
      a {
        color: #fff;
        letter-spacing: 5px;
        font-size: 115%;
      }
    }
    .title-bar-right {
      cursor: pointer;
      float: right;
      padding: rem-calc(0 15);
      .menu-icon {
        width: 22px;
        height: 20px;
      }
    }
  }
  .top-bar {
    width: 100%;
    padding: 0;
    z-index: 101;
    opacity: .975;
    display: block;
    .grid-container {
      position: relative;
      padding: 0;
    }
    .settings {
      float: right;
      padding: rem-calc(6.6 15 7.6 3.4);
      select {
        margin: 0;
        background-color: lighten($head-color, 30%);
      }
    }
    .quick-search-box {
      .input-group {
        margin: 0;
        input {
          max-width: none;
          background-color: lighten($head-color, 30%);
        }
        button {
          background-color: darken($head-color, 5%);
        }
      }
    }
    @include breakpoint(medium down) {
      position: relative;
      background-color: darken($ci-1, 3%);
      .top-bar-logo {
        display: none;
      }
      .top-bar-left {
        width: 100%;
      }
      .top-bar-right {
        width: 100%;
        .lang-options,
        .quick-search-box {
          padding: 0 .8rem .8rem;
        }
      }
    }
    @include breakpoint(small only) {
      .top-bar-right {
        .lang-options,
        .quick-search-box {
          padding: .8rem 1rem;
        }
      }
    }
    @include breakpoint(large) {
      position: absolute;
      top: 0;
      background-color: $ci-0;
      &:hover {
        background-color: darken($ci-0, 2.5%);
        .circle {
          background-color: $ci-0;
        }
      }
      .top-bar-logo {
        float: left;
        border-top: 2px solid transparent;
        .circle {
          position: absolute;
          top: 0;
          left: 0;
          margin: rem-calc(10 20 0 15);
          width: 74px;
          height: 48px;
          border-radius: 74px 74px 0 0;
          a.logo {
            position: absolute;
            top: 0;
            left: 0;
            width: 74px;
            height: 74px;
            display: block;
            background: url('/assets/img/aspectran-site-logo.png') no-repeat;
            background-size: cover;
            -webkit-transition: width .5s, height .5s, background-color 1s, -webkit-transform 1s;
            transition: width .5s, height .5s, background-color 1s, transform 1s;
          }
        }
        img {
          display: none;
          margin: rem-calc(9.5 12 0 15);
        }
        &:hover {
          a.logo {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
      }
      .top-bar-left {
        float: left;
        margin-left: 108px;
      }
      .top-bar-right {
        float: right;
        .menu {
          float: left;
        }
        .lang-options,
        .quick-search-box {
          float: right;
          max-width: 220px;
          border-top: 2px solid transparent;
          @include breakpoint(medium down) {
            padding: rem-calc(7.6 15 7.6 3.4);
          }
          @include breakpoint(large) {
            padding: rem-calc(6.5 15 7.6 3.4);
          }
        }
      }
    }
    ul.dropdown {
      background: none;
      @include breakpoint(medium down) {
        display: block;
      }
      @include breakpoint(medium only) {
        padding: .8rem;
        &.left {
          padding-bottom: .35rem;
        }
        &.right {
          padding-top: .35rem;
          padding-bottom: .35rem;
        }
      }
      li {
        > a {
          color: #fff;
          background: none;
          padding: .93rem 1.5rem .93rem 1rem;
          @include breakpoint(medium down) {
            margin-right: .9rem;
          }
        }
        &.active {
          a {
            background: none;
          }
        }
      }
      > li {
        @include breakpoint(medium down) {
          display: block;
          border-bottom: 1px solid darken($ci-1, 3%);
          background-color: $ci-1;
          &.is-active,
          &:hover {
            background-color: darken($ci-1, 9%);
          }
        }
        @include breakpoint(medium only) {
          &:first-child {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
          }
          &:last-child {
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
          }
        }
        @include breakpoint(large) {
          border-top: 2px solid transparent;
          a {
            padding: 1.15rem 1.3rem 1.3rem 1.3rem;
          }
          &.active {
            border-top: 2px solid lighten($ci-1, 10%);
          }
          &:hover {
            background-color: $ci-0;
            border-top: 2px solid $ci-5;
          }
          &.is-dropdown-submenu-parent {
            a {
              padding-right: 2rem;
            }
          }
        }
        &.is-dropdown-submenu-parent > a::after {
          border-color: lighten($ci-1, 20%) transparent transparent;
          right: .8rem;
        }
        &.is-dropdown-submenu-parent.is-active > a::after {
          border-color: $ci-5 transparent transparent;
        }
      }
      ul.submenu {
        border: 0;
        border-radius: 0 0 10px 10px;
        text-transform: none;
        @include breakpoint(medium down) {
          left: auto;
          right: 3.1rem;
        }
        li {
          min-width: 300px;
          > a {
            padding: .8rem 1.5rem .8rem 1rem;
            line-height: 130%; 
          }
          @include breakpoint(medium down) {
            background-color: darken($ci-1, 9%);
            &:hover {
              background-color: darken($ci-1, 12%);
            }
            &.submenu-closer {
              display: block;
            }          }
          @include breakpoint(large) {
            background-color: $ci-0;
            &.active {
              background-color: darken($ci-0, 5%);
            }
            &:hover {
              background-color: darken($ci-0, 3%);
            }
            &.submenu-closer {
              display: none;
            }
          }
          &:last-child {
            border-radius: 0 0 7px 7px;
          }
        }
      }
    }
    .breadcrumbs-bar {
      display: none;
    }
  }
  .breadcrumbs-bar {
    @include breakpoint(large) {
      margin-top: 57px;
    }
    background-color: $ci-1;
    -webkit-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    a {
      color: $grey-1;
      &:hover {
        text-decoration: none;
      }
    }
    .current {
      color: $grey-1;
      font-weight: bold;
    }
  }
  &.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    .top-bar {
      box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2),0 3px 3px -2px rgba(0,0,0,0.14),0 1px 8px 0 rgba(0,0,0,0.12);
      .top-bar-logo {
        .circle {
          margin: rem-calc(5.5 12 0 15);
          background-color: $ci-1;
          width: 37px;
          height: 37px;
          border-radius: 37px;
          a.logo {
            width: 37px;
            height: 37px;
            display: block;
            background: url('/assets/img/aspectran-site-logo.png') no-repeat;
            background-size: cover;
            img {
              display: none;
            }
          }
        }
      }
      .lang-options,
      .quick-search-box {
        border: 0;
        @include breakpoint(medium down) {
          padding: .8rem;
        }
        @include breakpoint(large) {
          padding: rem-calc(4 14.5 2.9 3.4);
          input, select {
            background-color: $grey-2;
          }
          button {
            background-color: $grey-5;
          }
        }
      }
      ul.dropdown {
        > li {
          a {
            font-weight: normal;
            padding: .93rem 1.3rem .93rem 1.3rem;
          }
          &.active {
            @include breakpoint(large) {
              background-color: darken($ci-0, 5%);
            }
          }
          &.is-dropdown-submenu-parent {
            a {
              padding-right: 2rem;
            }
          }
        }
      }
    }
    @include breakpoint(large) {
      .top-bar {
        background-color: $bg-color;
        opacity: .9;
        &:hover {
          opacity: .93;
        }
        ul.dropdown {
          > li {
            background-color: transparent;
            &.active,
            &.is-active,
            &:hover {
              background-color: transparent;
            }
            > a {
              color: $grey-10;
              text-shadow: none;
            }
          }
        }
        ul.submenu {
          box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2),0 3px 3px -2px rgba(0,0,0,0.14),0 1px 8px 0 rgba(0,0,0,0.12);
          margin-top: 1px;
          li {
            background-color: $bg-color !important;
            > a {
              color: $grey-10;
              text-shadow: none;
            }
            &:hover {
              background-color: darken($bg-color, 7%) !important;
            }
          }
        }
        .breadcrumbs-bar {
          display: block;
        }
      }
    }
    @include breakpoint(large) {
      .breadcrumbs-bar {
        margin-top: 48px;
      }
    }
  }
}

// Plate Format
//--------------

body.plate {
  background-color: $grey-1;
  .cell.contour {
    background-color: $bg-color;
    min-height: 400px;
    padding-bottom: $global-padding;
    @include breakpoint(large) {
      border-radius: 0 0 10px 10px;
      -webkit-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
      -moz-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
      box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    }
  }
  &.solid {
    background-color: $ci-2;
    #up-to-top {
      a {
        color: $ci-8;
      }
    }
    @include breakpoint(large) {
      .cell.contour {
        -webkit-box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.63), 3px 0 5px -3px rgba(1, 1, 1, 0.63);
        -moz-box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.63), 3px 0 5px -3px rgba(1, 1, 1, 0.63);
        box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.63), 3px 0 5px -3px rgba(1, 1, 1, 0.63);
      }
    }
  }
  .fluid {
    &.cell.contour {
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .cell.contour {
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

// Fork- Ribbon
//--------------
#forkme-ribbon {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 149px;
  height: 149px;
  border: 0;
  display: none;
  @include breakpoint(large) {
    display: block;
  }
}

// Masthead
//---------

#masthead {
  position: relative;
  min-width: 320px;
  color: $ci-8;
  background-color: $head-color;
  text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
  -webkit-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  > .grid-container {
    position: relative;
  }
  a {
    border: 0;
    color: #fff;
  }
  header {
    position: relative;
    z-index: 100;
    @include breakpoint(small only) {
      margin-top: 40px;
      min-height: 180px;
    }
    @include breakpoint(medium) {
      margin-top: 50px;
      min-height: 170px;
    }
    @include breakpoint(large) {
      margin-top: 120px;
      min-height: 170px;
    }
    h1 {
      color: $ci-8;
    }
    .teaser {
      @include breakpoint(small only) {
        font-size: 1.2em;
        line-height: 130%; 
      }
      @include breakpoint(medium only) {
        font-size: 1.35em;
        line-height: 135%; 
      }
      @include breakpoint(large only) {
        font-size: 1.5em;
        line-height: 145%; 
        max-width: 84%;
      }
      @include breakpoint(xlarge) {
        font-size: 1.65em;
        line-height: 150%; 
        max-width: 82%;
      }
    }
  }
  img {
    border-radius: 0;
  }
  .breadcrumbs-bar {
    background-color: $ci-2;
    @include breakpoint(large) {
      border-radius: 10px 10px 0 0;
    }
    .breadcrumbs {
      color: $ci-8;
      border: 0;
      a {
        color: $ci-8;
        font-weight: normal;
      }
      .current {
        color: $ci-8;
        font-weight: bold;
      }
    }
    &.grid-container.fluid {
      border-radius: 0;
    }
  }
  &.masthead-compact {
    > .grid-container {
      position: static;
    }
    @include breakpoint(large) {
      padding-top: 86px;
    }
    header {
      margin-top: 20px !important;
      min-height: 0 !important;
    }
  }
  &.masthead-with-image-header {
    @include breakpoint(small only) {
      height: 255px;
    }
    @include breakpoint(medium only) {
      height: 285px;
      padding-top: 50px;
    }
    @include breakpoint(large) {
      height: 510px;
      padding-top: 150px;
    }
  }
  &.no-header {
    @include breakpoint(medium down) {
      display: none;
      height: 0;
    }
    @include breakpoint(large) {
      padding-top: 57px;
      background: none;
    }
  }
}

// Masthead for Frontpage
//------------------------

.frontpage #masthead {
  color: #fff;
  background-color: $head-color;
  @include breakpoint(small only) {
    .cell {
      padding: 0 5%;
    }
  }
  @include breakpoint(medium down) {
    padding: 15px 0 10px 0;
    .badges {
      text-align: center;
    }
    .thumb {
      margin-bottom: 10px;
    }
  }
  @include breakpoint(large) {
    padding: 110px 0 20px 0;
  }
  #forkme-ribbon {
    display: block;
  }
  img {
    border-radius: $global-radius;
  }
  .thumb {
    margin-top: .5rem;
    @include breakpoint(large) {
      margin-bottom: .5rem;
    }
  }
}

// Breadcrumb
//------------

.breadcrumbs-bar {
  font-size: 90%;
  background: scale-color($grey-1, $lightness: 50%);
  .breadcrumbs {
    font-size: 90%;
    background: none;
    padding: .25em .2em .25em;
    margin: 0;
    a {
      color: $grey-8;
      &:hover {
        text-decoration: none;
      }
    }
    .current {
      color: $grey-8;
      font-weight: bold;
    }
    li::after {
      margin: 0.6rem;
    }
  }
  @include breakpoint(medium down) {
    background-color: $ci-2;
    .breadcrumbs {
      color: $ci-8;
      border: 0;
      a {
        color: $ci-8;
        font-weight: normal;
      }
      .current {
        color: $ci-8;
        font-weight: bold;
      }
    }
  }
}


// Meta
//------

#page-meta, #page-meta a {
  color: $grey-5;
}
#page-meta .button {
  background: $grey-5;
  border: 0;
}
#page-meta .button {
  color: #fff;
}
#page-meta .button:hover {
  background: $primary-color;
}
.meta-info {
  p {
    font-size: rem-calc(13);
    color: scale-color($grey-1, $lightness: 40%);
  }
  a {
    text-decoration: underline;
    color: scale-color($grey-1, $lightness: 40%);
    &:hover {
      text-decoration: none;
      color: $secondary-color;
    }
  }
}

// Jump to top
//-------------

#up-to-top {
  padding: 10px 0;
  a {
    font-size: 32px;
    padding: 5px;
    border-radius: $global-radius;
    &:hover {
      background: $grey-2;
    }
  }
}

// Footer
//--------

#footer {
  font-size: 90%;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 20px;
  background: $footer-bg;
  color: $footer-color;
  text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
  h4, h5 {
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
  }
  a {
    color: $footer-link-color;
    border: 0;
    &:hover {
      color: $footer-link-hover-color;
    }
    &.logo {
      display: block;
      margin: auto;
      width: 90px;
      height: 90px;
      background: url('/assets/img/aspectran-site-logo.png') no-repeat;
      background-size: cover;
      -webkit-transition: width .1s, height .1s, background-color 1s, -webkit-transform 1.3s;
      transition: width .1s, height .1s, background-color 1s, transform 1.3s;
      img {
        display: none;
      }
      &:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}

// Subfooter
//-----------

#subfooter {
  background: $subfooter-bg;
  color: $subfooter-color;
  padding-top: 30px;
  padding-bottom: 30px;
  .credits {
    font-size: 90%;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
    a {
      color: $subfooter-link-color;
      border: 0;
      text-transform: uppercase;
      &:hover {
        color: #fff;
      }
    }
  }
  ul.social-icons {
    font-size: 90%;
    margin: 0;
    list-style: none;
    @include breakpoint(small only) {
      float: right;
    }
    li {
      float: left;
      margin-right: rem-calc(15);
      a {
        font-size: rem-calc(23);
        display: block;
        width: 36px;
        border-radius: 50%;
        color: $subfooter-bg;
        background: $subfooter-color;
        text-align: center;
        &:hover {
          background: $subfooter-bg;
          color: #fff;
        }
      }
    }
  }
  ul.lang-options {
    font-size: 90%;
    margin: 0 0 0 3rem;
    list-style: none;
    float: right;
    li {
      float: left;
      margin-right: rem-calc(15);
      a {
        display: block;
        padding: 0 1rem;
        border-radius: $global-radius;
        color: lighten($subfooter-color, 10%);
        background: $footer-bg;
        text-align: center;
        &:hover {
          background: darken($footer-bg, 10%);
          color: $footer-color;
        }
      }
      &.active {
        a {
          color: $ci-5;
        }
      }
    }
  }
}

// CSS-Classes to add margin at top or bottom
//--------------------------------------------

.t0 { margin-top: 0 !important; }
.t5 { margin-top: 5px !important; }
.t10 { margin-top: 10px !important; }
.t15 { margin-top: 15px !important; }
.t20 { margin-top: 20px !important; }
.t30 { margin-top: 30px !important; }
.t40 { margin-top: 40px !important; }
.t50 { margin-top: 50px !important; }
.t60 { margin-top: 60px !important; }
.t70 { margin-top: 70px !important; }
.t80 { margin-top: 80px !important; }
.t90 { margin-top: 90px !important; }

.b0 { margin-bottom: 0 !important; }
.b5 { margin-bottom: 5px !important; }
.b10 { margin-bottom: 10px !important; }
.b15 { margin-bottom: 15px !important; }
.b20 { margin-bottom: 20px !important; }
.b30 { margin-bottom: 30px !important; }
.b40 { margin-bottom: 40px !important; }
.b50 { margin-bottom: 50px !important; }
.b60 { margin-bottom: 60px !important; }

.l15 { margin-left: 15px !important; }
.r15 { margin-right: 15px !important; }

.pl20 { padding-left: 20px !important; }
.pr5  { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }

// Adjustments: Video Layout
//---------------------------

body.video {
  background: #000;
  #masthead-no-image-header {
    background: #000;
    margin-bottom: 60px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  blockquote:before,
  blockquote:after,
  cite,
  cite a,
  cite a:visited {
    color: #fff;
  }
}

// Asciinema
//---------------------------

.asciinema {
  text-align: center;
  background-color: $grey-1;
  padding: 15px 10px 5px;
  border-radius: $global-radius;
}

// Frontpage
//---------------------------

body.frontpage {
  .asciinema {
    margin: 0 auto;
    @include breakpoint(small only) {
      padding: 0;
      border-radius: 0;
      img {
        border-radius: 0;
      }
    }
    @include breakpoint(medium only) {
      padding: 10px;
    }
    @include breakpoint(large) {
      padding: 50px 10px;
    }
  }
}

// Hexagon shapes with pure CSS3
//---------------------------

.hexagon {
  width: 100px;
  height: 55px;
  background: lighten($head-color, 5%);
  border-top: 1px solid lighten($head-color, 5%);
  border-bottom: 1px solid lighten($head-color, 5%);
  position: absolute;
  z-index: -1;
  &:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid lighten($head-color, 5%);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid lighten($head-color, 5%);
  }
  &.hex1 {
    top: 20px;
    left: 0px;
  }
  &.hex2 {
    top: 20px;
    left: 110px;
  }
  &.hex3 {
    top: 20px;
    left: 220px;
  }
  &.hex4 {
    top: 110px;
    left: 55px;
  }
  &.hex5 {
    top: 110px;
    left: 165px;
  }
  &.hex6 {
    top: 110px;
    left: 275px;
  }
}
#masthead .hexagons {
  position: absolute;
  z-index: 1;
  right: 390px;
  @include breakpoint(medium down) {
    top: 18px;
  }
  @include breakpoint(large) {
    top: 30px;
  }
}
@include breakpoint(medium down) {
  .masthead-compact .hexagons {
    display: none;
  }
}
