/* TOC

- Navigation
- Plate Format
- Masthead
- Masthead › small-only
- Masthead › medium-only
- Masthead › large-only
- Masthead › xlarge-up
- Masthead for Frontpage
- Breadcrumb
- Meta
- Jump to top
- Footer
- Subfooter
- CSS-Classes to add margin at top or bottom
- Adjustments: Video Layout
- Asciinema
- Frontpage
- Hexagon shapes with pure CSS3

*/

// Navigation
//-----------

#navigation {
  z-index: 101;
  text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
  text-transform: uppercase;
  &.fixed {
    position: fixed;
    width: 100%;
    .top-bar {
      background: $ci-0;
      .top-bar-logo {
        a.logo {
          margin: rem-calc(2.5 12 0 15);
          width: 37px;
          height: 37px;
          display: block;
          background: url('/assets/img/aspectran-site-logo.png') no-repeat;
          background-size: cover;
          img {
            display: none;
          }
        }
      }
      .quick-search-box {
        border: 0;
        @include breakpoint(medium down) {
          padding: .8rem .4rem;
        }
        @include breakpoint(large) {
          padding: rem-calc(2.6 3.4 2.6 3.4);
        }
      }
      ul.dropdown {
        @include breakpoint(medium down) {
          background-color: darken($ci-0, 10%);
        }
        > li {
          border: 0;
          a {
            font-weight: normal;
            padding: .93rem 1.5rem .93rem 1rem;
          }
          &.active {
            @include breakpoint(large) {
              border: 0;
              background-color: darken($ci-0, 5%);
            }
          }
          &:hover {
            border: 0;
          }
        }
      }
    }
    @include breakpoint(large) {
      .top-bar:hover {
        .top-bar-logo {
          a.logo {
            margin: rem-calc(2.5 12 0 15);
          }
        }
      }
    }
  }
  .title-bar {
    display: none;
    line-height: 46px;
    background-color: $ci-0;
    padding: 0;
    position: absolute;
    z-index: 102;
    width: 100%;
    .title-bar-left {
      float: left;
      a.logo {
        margin: rem-calc(5 12 0 12);
        width: 37px;
        height: 37px;
        display: block;
        background: url('/assets/img/aspectran-site-logo.png') no-repeat;
        background-size: cover;
        img {
          display: none;
        }
      }
    }
    .title-bar-center {
      position: absolute;
      left: 20%;
      right: 20%;
      padding: 0;
      text-align: center;
      text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
      a {
        color: #fff;
        letter-spacing: 5px;
        font-size: 115%;
      }
    }
    .title-bar-right {
      cursor: pointer;
      float: right;
      padding: rem-calc(0 15);
    }
  }
  .top-bar {
    position: absolute;
    z-index: 102;
    width: 100%;
    opacity: .96;
    .quick-search-box {
      padding: .8rem .4rem;
      .input-group {
        margin: 0;
        input {
          max-width: none;
          background-color: lighten($ci-0, 50%);
        }
      }
    }
    @include breakpoint(small only) {
      margin-top: 46px;
    }
    @include breakpoint(medium down) {
      .top-bar-logo {
        display: none;
      }
      .top-bar-left {
        width: 100%;
      }
      .top-bar-right {
        width: 100%;
      }
    }
    @include breakpoint(large) {
      background: none;
      .top-bar-logo {
        float: left;
        position: relative;
        border-top: 2px solid transparent;
        a.logo {
          position: absolute;
          top: 0;
          left: 0;
          margin: rem-calc(8 20 0 15);
          width: 72px;
          height: 72px;
          display: block;
          background: url('/assets/img/aspectran-site-logo.png') no-repeat;
          background-size: cover;
        }
        img {
          display: none;
          margin: rem-calc(9.5 12 0 15);
        }
      }
      .top-bar-left {
        margin-left: 108px;
      }
      .top-bar-right {
        .menu {
          float: left;
        }
      }
      .quick-search-box {
        float: right;
        display: table-cell;
        vertical-align: middle;
        padding: rem-calc(7.6 15 7.6 3.4);
        border-top: 2px solid transparent;
        @include breakpoint(large) {
          max-width: 220px;
        }
      }
    }
    ul.dropdown {
      background: none;
      li {
        @include breakpoint(medium down) {
          display: block;
          background-color: darken($ci-0, 20%);
        }
        > a {
          color: #eee;
          background: none;
          padding: .93rem 1.5rem .93rem 1rem;
          @include breakpoint(medium down) {
            margin-right: .9rem;
          }
        }
        &.active {
          a {
            background: none;
          }
        }
        &:hover {
          background-color: darken($ci-0, 8%);
        }
        &.is-dropdown-submenu-parent > a::after {
          border-color: lighten($ci-1, 5%) transparent transparent;
          right: 9px;
        }
      }
      @include breakpoint(large) {
        > li {
          border-top: 2px solid transparent;
          a {
            font-weight: bold;
            padding: 1.3rem 1.5rem 1.3rem 1rem;
          }
          &.active {
            border-top: 2px solid $ci-6;
          }
          &:hover {
            border-top: 2px solid darken($ci-6, 20%);
          }
        }
      }
      ul.submenu {
        border: 0;
        border-radius: 0 0 10px 10px;
        @include breakpoint(medium down) {
          left: auto;
          right: 3.1rem;
        }
        li {
          background-color: darken($ci-0, 9%);
          min-width: 250px;
          > a {
            padding: .93rem 1.5rem .93rem 1rem;
          }
          @include breakpoint(medium down) {
            &.submenu-closer {
              display: block;
            }
          }
          @include breakpoint(large) {
            &.submenu-closer {
              display: none;
            }
            &.active {
              background-color: darken($ci-0, 10%);
            }
          }
          &:hover {
            background-color: darken($ci-0, 5%);
          }
        }
        li:last-child {
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }
  @include breakpoint(large) {
    .top-bar:hover {
      background: $ci-0;
      .top-bar-logo {
        a.logo {
          margin: rem-calc(9.5 12 0 15);
          width: 37px;
          height: 37px;
          display: block;
          background: url('/assets/img/aspectran-site-logo.png') no-repeat;
          background-size: cover;
          img {
            display: none;
          }
        }
      }
      ul.dropdown {
        > li {
          a {
            font-weight: normal;
          }
          &.active {
            background-color: darken($ci-0, 8%);
          }
        }
      }
    }
  }
}

// Plate Format
//--------------

body.plate {
  @include breakpoint(large) {
    background-color: $grey-1;
  }
  &.solid {
    @include breakpoint(large) {
      background-color: $ci-1;
      #up-to-top {
        padding-top: 20px;
        a {
          color: $ci-6;
        }
      }
    }
    .row.content {
      padding-top: 20px;
    }
    #footer {
      padding-top: 20px;
    }
  }
  .row.content {
    padding-bottom: 50px;
    background-color: $ci-6;
    min-height: 400px;
    @include breakpoint(large) {
      border-radius: 0 0 10px 10px;
      -webkit-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
      -moz-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
      box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    }
  }
}

// Fork- Ribbon
//--------------
#forkme-ribbon {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 149px;
  height: 149px;
  border: 0;
  display: none;
  @include breakpoint(large) {
    display: block;
  }
}

// Masthead
//---------

#masthead {
  position: relative;
  z-index: 1;
  padding-top: 46px;
  min-width: 320px;
  color: $ci-6;
  background-color: lighten($ci-0, 5%);
  text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
  .row {
    position: relative;
    z-index: 1;
  }
  header {
    position: relative;
    z-index: 100;
    @include breakpoint(small only) {
      margin-top: 46px;
    }
    @include breakpoint(medium) {
      padding-top: 90px;
      min-height: 240px;
    }
    h1 {
      color: $ci-6;
    }
  }
  img {
    border-radius: 0;
  }
  .breadcrumbs-bar {
    padding: 0;
    @include breakpoint(small only) {
      background-color: transparent;
      nav {
        background-color: $ci-1;
        border-radius: 10px 10px 0 0;
      }
    }
    @include breakpoint(medium only) {
      background-color: transparent;
      nav {
        background-color: $ci-1;
        border-radius: 10px 10px 0 0;
      }
    }
    @include breakpoint(large) {
      background-color: $ci-1;
      border-radius: 10px 10px 0 0;
    }
    .breadcrumbs {
      @include breakpoint(small only) {
        margin: 0 8px;
      }
      @include breakpoint(medium only) {
        margin: 0 10px;
      }
      color: $ci-6;
      border: 0;
      a {
        color: $ci-6;
        font-weight: normal;
      }
      .current {
        color: $ci-6;
        font-weight: bold;
      }
    }
  }
  .masthead-caption {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
  }
}
.masthead-with-text {
  text-align: center;
  font-size: rem-calc(54);
  font-family: $header-font-family;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.masthead-no-image-header {
  #slogan {
    margin: 10px 0 10px 20px;
    img {
      height: 128px;
    }
  }
}
.masthead-with-image-header {
  header {
    @include breakpoint(small) {
      .teaser {
        font-size: 1.2em;
      }
    }
    @include breakpoint(medium) {
      .teaser {
        font-size: 1.3em;
      }
    }
    @include breakpoint(large) {
      .teaser {
        font-size: 1.5em;
      }
    }
    @include breakpoint(xlarge) {
      .teaser {
        font-size: 1.6em;
      }
    }
  }
}

// Masthead › small-only
//-----------------------

@include breakpoint(small only) {
  .masthead-caption {
    display: none;
  }
  .masthead-with-pattern {
    padding: 15px 0;
  }
  .masthead-with-background-color {
    padding: 15px 0;
  }
  .masthead-with-text {
    height: 290px;
    padding: 30px 0;
    font-size: rem-calc(36);
  }
  .masthead-with-image-header {
    height: 355px;
    #slogan {
      margin-top: 110px;
      margin-left: 0;
      img {
        height: 115px;
      }
    }
    header {
      margin-top: 10px;
      padding-top: 0;
      h1 {
        font-size: 2em;
        font-weight: 700;
      }
    }
  }
  .masthead-no-image-header {
    header {
      padding-top: 1em;
    }
  }
}

// Masthead › medium-only
//------------------------

@include breakpoint(medium only) {
  .masthead-with-pattern {
    padding: 20px 0;
  }
  .masthead-with-background-color {
    padding: 20px 0;
  }
  .masthead-with-text {
    height: 350px;
    padding: 60px 0;
  }
  .masthead-with-image-header {
    height: 360px;
    #slogan {
      margin-top: 70px;
      margin-left: 33px;
      img {
        height: 170px;
      }
    }
    header {
      margin-top: 30px;
      h1 {
        font-weight: 700;
      }
    }
  }
}

// Masthead › large-only
//-----------------------

@include breakpoint(large only) {
  .masthead-with-pattern {
    padding: 30px 0;
  }
  .masthead-with-background-color {
    padding: 30px 0;
  }
  .masthead-with-text {
    height: 410px;
    padding: 60px 0;
  }
  .masthead-with-image-header {
    height: 420px;
    #slogan {
      margin-top: 110px;
      margin-left: 33px;
      img {
        height: 170px;
      }
    }
    header {
      margin-top: 80px;
      h1 {
        font-size: 3em;
        font-weight: 700;
      }
    }
  }
}

// Masthead › xlarge-up
//----------------------

@include breakpoint(xlarge) {
  .masthead-with-pattern {
    padding: 45px 0;
  }
  .masthead-with-background-color {
    padding: 45px 0;
  }
  .masthead-with-text {
    height: 510px;
    padding: 95px 0;
  }
  .masthead-with-image-header {
    height: 510px;
    #slogan {
      margin-top: 200px;
      img {
        height: 170px;
      }
    }
    header {
      margin-top: 160px;
      h1 {
        font-size: 3.3em;
        font-weight: 700;
      }
    }
  }
}

// Masthead for Frontpage
//------------------------

.frontpage #masthead {
  @include breakpoint(medium down) {
    padding: 76px 0 10px 0;
    background-color: $bg-color;
    color: $text-color;
  }
  @include breakpoint(large) {
    padding: 110px 0 50px 0;
    background-color: lighten($ci-0, 5%);
    color: #ccc;
  }
  text-shadow: none;
  #forkme-ribbon {
    display: block;
  }
  a {
    border: 0;
    @include breakpoint(large) {
      color: #eee;
    }
  }
  img {
    border-radius: $global-radius;
  }
  .thumb {
    margin-top: .5rem;
    @include breakpoint(large) {
      margin-bottom: .5rem;
    }
  }
}

// Breadcrumb
//------------

.breadcrumbs-bar {
  background: scale-color($grey-1, $lightness: 50%);
  font-size: 74%;
  .breadcrumbs {
    font-size: 74%;
    background: none;
    padding: .2em .2em .3em;
    margin: 0;
    a {
      color: $grey-8;
      &:hover {
        text-decoration: none;
      }
    }
    .current {
      color: $grey-8;
      font-weight: bold;
    }
    li::after {
      margin: 0.6rem;
    }
  }
}

// Meta
//------

#page-meta, #page-meta a {
  color: $grey-5;
}

#page-meta .button {
  background: $grey-5;
  border: 0;
}
#page-meta .button {
  color: #fff;
}
#page-meta .button:hover {
  background: $primary-color;
}
.meta-info {
  p {
    font-size: rem-calc(13);
    color: scale-color($grey-1, $lightness: 40%);
  }
  a {
    text-decoration: underline;
    color: scale-color($grey-1, $lightness: 40%);
    &:hover {
      text-decoration: none;
      color: $secondary-color;
    }
  }
}

// Jump to top
//-------------

#up-to-top {
  padding: 40px 0 10px 0;
  a {
    font-size: 32px;
    padding: 5px;
    border-radius: $global-radius;
    &:hover {
      background: $grey-2;
    }
  }
}

// Footer
//--------

#footer {
  font-size: 90%;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 20px;
  background: $footer-bg;
  color: $footer-color;
  text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
  h4, h5 {
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
  }
  a {
    color: $footer-link-color;
    border: 0;
    &:hover {
      color: $footer-link-hover-color;
    }
    &.logo {
      display: block;
      width: 100px;
      height: 100px;
      background: url('/assets/img/aspectran-site-logo.png') no-repeat;
      background-size: cover;
      img {
        display: none;
      }
    }
  }
}

// Subfooter
//-----------

#subfooter {
  background: $subfooter-bg;
  color: $subfooter-color;
  padding-top: 30px;
  padding-bottom: 10px;
  .credits {
    font-size: 90%;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
    a {
      color: $subfooter-link-color;
      border: 0;
      text-transform: uppercase;
      &:hover {
        color: #fff;
      }
    }
  }
  .social-icons {
    font-size: 90%;
    ul {
      margin: 0;
      list-style: none;
      @include breakpoint(small only) {
        float: right;
      }
    }
    li {
      float: left;
      margin-right: rem-calc(15);
      a {
        font-size: rem-calc(23);
        display: block;
        width: 36px;
        border-radius: 50%;
        color: $subfooter-bg;
        background: $subfooter-color;
        text-align: center;
        &:hover {
          background: $subfooter-bg;
          color: #fff;
        }
      }
    }
  }
}

// CSS-Classes to add margin at top or bottom
//--------------------------------------------

.t5 { margin-top: 5px !important; }
.t10 { margin-top: 10px !important; }
.t15 { margin-top: 15px !important; }
.t20 { margin-top: 20px !important; }
.t30 { margin-top: 30px !important; }
.t40 { margin-top: 40px !important; }
.t50 { margin-top: 50px !important; }
.t60 { margin-top: 60px !important; }
.t70 { margin-top: 70px !important; }
.t80 { margin-top: 80px !important; }
.t90 { margin-top: 90px !important; }

.b5 { margin-bottom: 5px !important; }
.b10 { margin-bottom: 10px !important; }
.b15 { margin-bottom: 15px !important; }
.b20 { margin-bottom: 20px !important; }
.b30 { margin-bottom: 30px !important; }
.b40 { margin-bottom: 40px !important; }
.b50 { margin-bottom: 50px !important; }
.b60 { margin-bottom: 60px !important; }

.l15 { margin-left: 15px !important; }
.r15 { margin-right: 15px !important; }

.pl20 { padding-left: 20px !important; }
.pr5  { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }

// Adjustments: Video Layout
//---------------------------

body.video {
  background: #000;
  #masthead-no-image-header {
    background: #000;
    margin-bottom: 60px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  blockquote:before,
  blockquote:after,
  cite,
  cite a,
  cite a:visited {
    color: #fff;
  }
}

// Asciinema
//---------------------------

.asciinema {
  text-align: center;
  padding: 0 10px 20px;
  .asciicast {
    margin: 0 !important;
  }
}

// Frontpage
//---------------------------

body.frontpage {
  .asciinema {
    padding: 0 0 10px;
    margin: 0 auto;
    @include breakpoint(large) {
      padding: 50px 10px;
    }
  }
}

// Hexagon shapes with pure CSS3
//---------------------------

.hexagon {
  width: 100px;
  height: 55px;
  background: lighten($ci-0, 10%);
  position: absolute;
  z-index: -1;
  &:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid lighten($ci-0, 10%);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid lighten($ci-0, 10%);
  }
  &.hex1 {
    top: 20px;
    left: 0px;
  }
  &.hex2 {
    top: 20px;
    left: 110px;
  }
  &.hex3 {
    top: 20px;
    left: 220px;
  }
  &.hex4 {
    top: 110px;
    left: 55px;
  }
  &.hex5 {
    top: 110px;
    left: 165px;
  }
  &.hex6 {
    top: 110px;
    left: 275px;
  }
}
#masthead .hexagons {
  position: absolute;
  bottom: 210px;
  right: 400px;
  z-index: -1;
}