// Headlines
//-----------

h1 {
  margin: 0;
}
h2 {
  margin-top: 0;
  margin-bottom: .2em;
  &.underline {
    padding-bottom: 3px;
    border-bottom: 1px solid $grey-1;
  }
}
h3 {
  margin-top: 0;
  margin-bottom: .2em;
  &.underline {
    padding-bottom: 3px;
    border-bottom: 1px solid $grey-1;
  }
}
h4 {
  margin-top: 0;
  margin-bottom: .2em;
  &.underline {
    padding-bottom: 3px;
    border-bottom: 1px solid $grey-1;
  }
}
h5 {
  margin-top: 0;
  margin-bottom: .2em;
  &.underline {
    padding-bottom: 3px;
    border-bottom: 1px solid $grey-1;
  }
}

header {
  h1 {
    margin-bottom: .2em;
  }
}

body.article article {
  h2 {
    margin: 1.363em 0 .7em 0;
    &:nth-child(0),
    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0.2em;
    }
    padding-bottom: 3px;
    border-bottom: 1px solid $grey-1;
  }
  h3 {
    margin: 1.152em 0 .6em 0;
  }
  h4 {
    margin: 1.152em 0 .5em 0;
  }
  h5 {
    margin: 1em 0 .4em 0;
  }
}

article {
  header {
    border-bottom: 1px solid $grey-1;
    margin-bottom: 1.5em;
  }
}

// Links
//-------

a {
  &:visited {
    border-bottom: $grey-2;
  }
  &:hover {
    color: lighten($anchor-color, 10%);
  }
  &:focus {
    color: lighten($anchor-color, 20%);
  }
  &:active {
    color: darken($anchor-color, 5%);
  }
}

// Paragraph
//-----------

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  a {
    border-bottom: 1px dotted;
  }
  &.subheadline {
    @include breakpoint(medium down) {
      font-size: rem-calc(12);
    }
    @include breakpoint(large) {
      font-size: rem-calc(14);
    }
    margin: 0;
    text-transform: uppercase;
  }
  &.teaser {
    margin: 0;
    padding-bottom: 1em;
    font-size: rem-calc(18);
  }
  &.source {
    margin-bottom: .5em;
    font-size: .9em;
  }
}

// Images
//--------

img {
  border-radius: $global-radius;
  &.alignleft,
  &.left {
    float: left;
    margin:5px 15px 5px 0;
  }
  &.alignright,
  &.right {
    float: right;
    margin:5px 0 5px 15px;
  }
  &.aligncenter,
  &.center {
    display: block;
    margin:0 auto 10px;
  }
}

figure {
  margin: 0 0 rem-calc(30) 0;
}
#masthead-with-background-color figure,
#masthead-with-pattern figure {
  margin: 0;
}
figcaption,
.masthead-caption {
  color: $grey-10;
  font-size: rem-calc(13);
  padding-top: rem-calc(2);
}
figcaption a,
.masthead-caption a {
  border-bottom: 1px dotted $grey-4;
  color: $grey-10;
}
figcaption a:hover,
.masthead-caption a:hover {
  border-bottom: 2px solid $primary-color;
  color: $primary-color;
}
.masthead-caption {
  padding-right: 10px;
  text-align: right;
}

// Code
//------

code {
  background-color: $grey-1;
  border: 0;
  border-radius: $global-radius;
  padding: rem-calc(1 3 1);
}

pre {
  overflow-x: auto;
  margin-bottom: rem-calc(20);
  padding: .6rem;
  background-color: darken($ci-8, 2%);
  border: 1px solid scale-color($ci-8, $lightness: -10%);
  border-radius: $global-radius;
}
pre {
  pre {
    border: 0;
    margin-bottom: 0;
  }
}

.highlight {
  > pre {
    code {
      padding: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
    }
  }
  .gutter {
    border-right: 1px solid #ccc;
    padding-right: 0.6rem;
    text-align: right;
    .lineno {
      border: none;
      border-radius: 0;
      padding: 0;
      opacity: .6;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .code {
    padding-left: 0.6rem;
    pre {
      padding: 0;
      overflow-x: auto;
    }
  }
  table {
    margin: 0;
    border-radius: 0;
    tbody {
      border: none;
      background: none;
      td {
        padding: 0;
        font-size: 93%;
      }
    }
  }
}
div.highlighter-rouge {
  pre.highlight {
    code {
      background-color: transparent;
    }
  }
}
@include breakpoint(large) {
  .large-9.large-order-1 pre.highlight:hover {
    width: 126%;
    position: relative;
    z-index: 1;
  }
}

// Lists
//-------

dl {
  dt:first-child {
    padding-top: 0;
  }
  dt {
    font-weight: bold;
    padding-top: rem-calc(20);
  }
}
article dl {
  dt {
    line-height: 1.5;
  }
  dd {
    line-height: 1.5;
    margin-left: rem-calc(24);
  }
}

// Quotes
//--------

blockquote {
  font-style: italic;
  position: relative;
  border-left: 4px solid #ddd;
  padding: rem-calc(9 19 9 19);
  color: $grey-8;
  background-color: $grey-0;
  border-radius: 0 $global-radius $global-radius 0;
  p {
    font-style: italic;
    color: $grey-9;
    margin: 0;
  }
  code {
    background-color: $grey-1;
  }
}

// Tables
//--------

thead,
tbody,
tfoot {
  border: 1px solid $grey-2;
  border-radius: $global-radius;
}
td {
  vertical-align: top;
}

// ETC
//--------

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}