---
sitemap:
  exclude: true
---
@charset 'utf-8';

@import 'colors';

* {
	display: block;
}

:root {
	margin: 3em;
	background: $bg-color;
	color: $text-color;
	font-family: 'Open Sans', Arial, sans-serif;
}

feed {
	> title {
		text-align: center;
		color: lighten($ci-1, 25%);
		font-weight: bolder;
		&::before {
			content: 'Atom Feed for ';
			font-weight: initial;
		}
		&::after {
			content: "This Atom feed is meant to be used by RSS reader applications and websites.";
			display: block;
			padding: 1em;
			background-color: $ci-5;
			color: #fff;
			font-family: initial;
			font-size: initial;
			letter-spacing: initial;
		}
	}

	> id,
	> updated,
	> subtitle,
	> author,
	> link,
	> generator {
		display: none;
	}
}

entry {
	padding: 1em 0;
	border-bottom: 1px solid invert($bg-color);
	&:last-child {
		border-bottom: none;
	}

	> title {
		color: $ci-6;
		margin-bottom: 0.5em;
	}

	> link::after {
		content: attr(href);
		color: $ci-1;
	}

	> updated {
		color: $grey-5;
		font-size: small;
	}

	> summary {
		margin-top: 1em;
	}

	> id,
	> author,
	> category,
	> published,
	> content {
		display: none;
	}
}
