---
sitemap:
  exclude: true
---
@charset 'utf-8';

@import 'colors';

* {
	display: block;
}

:root {
	margin: 3em;
	background: $bg-color;
	color: $text-color;
	font-family: 'Open Sans', Arial, sans-serif;
}

channel {
	> title {
		text-align: center;
		color: lighten($ci-1, 25%);
		font-weight: bolder;
		&::before {
			content: 'RSS Feed for ';
			font-weight: initial;
		}
		&::after {
			content: "This RSS feed is meant to be used by RSS reader applications and websites.";
			display: block;
			padding: 1em;
			background-color: $ci-5;
			color: #fff;
			font-family: initial;
			font-size: initial;
			letter-spacing: initial;
		}
	}

	> description,
	> link {
		display: none;
	}
}

item {
	padding: 1em 0;
	border-bottom: 1px solid invert($bg-color);
	&:last-child {
		border-bottom: none;
	}

	> title {
		color: $ci-6;
		margin-bottom: 0.5em;
	}

	> link {
		color: $ci-1;
	}

	> pubDate {
		color: $grey-5;
		font-size: small;
	}

	> description {
		margin-top: 1em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
	}

	> guid,
	> category {
		display: none;
	}
}
