---
#
# Use the widgets beneath and the content will be
# inserted automagically in the webpage. To make
# this work, you have to use › layout: frontpage
#
title: Aspectran
layout: frontpage
format: frontpage
widget1:
  title: Aspectran
  url: /ko/aspectran/
  text: Aspectran은 고성능 Java 애플리케이션을 구축하기 위한 경량 프레임워크로써, 직관적이고 유연한 개발 환경을 제공합니다.
widget2:
  title: Aspectow
  url: /ko/aspectow/
  text: Aspectow는 Aspectran 기반으로 안정성과 관리 편의성을 강화한, 경량·고성능 엔터프라이즈 WAS 제품입니다.
widget3:
  title: 프로젝트
  url: /ko/projects/
  text: 새로운 프로젝트 개발에 착수할 수 있는 스타터 프로젝트와 샘플 프로젝트를 제공합니다.
widget4:
  title: 블로그
  url: /blog/
  text: Aspectran에 대한 최신 소식, 유용한 팁, 그리고 인사이트를 확인하세요.
widget5:
  title: 공식 문서
  url: /ko/docs/
  text: Aspectran 문서를 통해 배우고 설정하며, 강력한 기능을 마음껏 활용해 보세요.
permalink: /ko/
---
<script>
  $(function () {
    setPreferredLangCodeToLocalStorage('{{ page.lang }}');
  });
</script>
{% comment %}
<div id="videoModal" class="reveal-modal large" data-reveal="">
  <div class="flex-video widescreen vimeo" style="display: block;">
    <iframe width="1280" height="720" src="" frameborder="0" allowfullscreen></iframe>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endcomment %}
