---
layout: page
title: Examples
subheadline: The Aspectran has an ever growing number of examples available for developers to learn from.
teaser: Explains the example application we use to introduce Aspectran in detail.
header:
  image_fullwidth: header_examples.jpg
  caption: Photo by Juho Jeong
article_heading: true
sidebar: right
breadcrumb: true
permalink: /examples/
---

{% assign examples = site.examples %}
{% for example in examples limit:2 %}
<div class="panel white b20">
  <div class="row">
    <div class="small-12 columns">
      <p class="subheadline">{% if example.subheadline %}{{ example.subheadline }}{% endif %}</p>
      <h3><a href="{{ site.baseurl }}{{ example.url }}">{{ example.title }}</a></h3>
    </div>
  {% if example.image.thumb %}
    <div class="small-5 medium-4 columns">
      <a href="{{ site.baseurl }}{{ example.url }}" title="{{ example.title | escape_once }}"><img src="{{ site.urlimg }}{{ example.image.thumb }}" class="alignleft" width="100%" alt="{{ example.title | escape_once }}"></a>
    </div>
    <div class="small-7 medium-8 columns">
      <p>
        {% if example.meta_description %}{{ example.meta_description | strip_html | escape }}{% elsif example.teaser %}{{ example.teaser | strip_html | escape }}{% endif %}
        <a href="{{ site.baseurl }}{{ example.url }}" title="{{ example.title | escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
      </p>
    </div>
  {% else %}
    <div class="small-12 columns">
      <p>
        {% if example.meta_description %}{{ example.meta_description | strip_html | escape }}{% elsif example.teaser %}{{ example.teaser | strip_html | escape }}{% endif %}
        <a href="{{ site.baseurl }}{{ example.url }}" title="{{ example.title | escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
      </p>
    </div>
  {% endif %}
  </div>
</div>
{% endfor %}
