---
layout: page
format: plate
sidebar: right
title: Web Template Engine
headline: Aspectran Modules
teaser: 다양한 웹 템플릿 엔진을 지원할 예정입니다.
breadcrumb: true
permalink: /modules/web-template-engine/
noindex: true
---

{% assign modules = site.modules | where: "category", "Web Template Engine" %}
{% for module in modules %}
<div class="row">
  <div class="columns">
    <h3 class="underline"><a href="{{ site.baseurl }}{{ module.url }}">{{ module.title }}</a></h3>
    <p>
      {% if module.image.thumb %}<a href="{{ site.baseurl }}{{ module.url }}" title="{{ module.title | escape_once }}"><img src="{{ site.urlimg }}{{ module.image.thumb }}" class="alignleft" width="150" height="150" alt="{{ page.title | escape_once }}"></a>{% endif %}
      {% if module.meta_description %}{{ module.meta_description | strip_html | escape }}{% elsif module.teaser %}{{ module.teaser | strip_html | escape }}{% endif %}
    </p>
  </div><!-- /.columns -->
</div><!-- /.grid-x -->
{% endfor %}
