---
layout: page
format: plate
sidebar: right
title: HTTP
subheadline: Aspectran Modules
teaser: 주로 HTTP 헤더를 다루는 공통 모듈을 제공합니다.
breadcrumb: true
permalink: /modules/http/
noindex: true
---

{% assign modules = site.modules | where: "category", "HTTP" %}
{% for module in modules %}
<div class="row">
  <div class="columns">
    <h3><a href="{{ site.baseurl }}{{ module.url }}">{{ module.title }}</a></h3>
    <p>
      {% if module.image.thumb %}<a href="{{ site.baseurl }}{{ module.url }}" title="{{ module.title escape_once }}"><img src="{{ site.urlimg }}{{ module.image.thumb }}" class="alignleft" width="150" height="150" alt="{{ page.title escape_once }}"></a>{% endif %}
      {% if module.meta_description %}{{ module.meta_description | strip_html | escape }}{% elsif module.teaser %}{{ module.teaser | strip_html | escape }}{% endif %}
    </p>
  </div><!-- /.columns -->
</div><!-- /.row -->
{% endfor %}
