---
layout: page
format: plate
title: "Blog Archive"
teaser: "Check out all blog posts in my blog archive. Click on a headline to read the teaser."
header:
  image_fullwidth: "header_blog.jpg"
  caption: "Hot summer 2015"
outside_heading: true
breadcrumb: true
permalink: "/blog/archive/"
noindex: true
---
<div class="row">
  <div class="columns t30">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      {% assign counter = 1 %}
      {% for post in site.posts limit:1000 %}
      <li class="accordion-item">
        <a href="#panel{{ counter }}" role="tab" class="accordion-title" id="panel{{ counter }}-heading" aria-controls="panel{{ counter }}"><span class="iconfont"></span>{% if post.subheadline %}{{ post.subheadline }} › {% endif %}<strong>{{ post.title }}</strong></a>
        <div id="panel{{ counter }}" data-tab-content role="tabpanel" class="accordion-content" aria-labelledby="panel{{ counter }}-heading">
          {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
          <p class="text-right"><a class="button small" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}">{{ site.data.language.read_more }}</a></p>
        </div>
      </li>
      {% assign counter=counter | plus:1 %}
      {% endfor %}
    </ul>
  </div><!-- /.small-12.columns -->
</div><!-- /.row -->
