---
layout: page
format: plate solid margin
title: "Blog Archive"
teaser: "Check out all blog posts in my blog archive. Click on a headline to read the teaser."
outside_heading: true
header:
  image_fullwidth: "header_blog.jpg"
  caption: "Music while coding"
breadcrumb: true
permalink: /blog/archive/
noindex: true
sitemap: false
---
<div class="row">
  <div class="columns t30">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      {% for post in site.posts limit:1000 %}
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><span class="iconfont"></span>{% if post.subheadline %}{{ post.subheadline }} › {% endif %}<strong>{{ post.title }}</strong></a>
        <div class="accordion-content" data-tab-content>
          {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
          <p class="text-right"><a class="button small" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}">{{ site.data.language.read_more }}</a></p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
