---
lang: ko
layout: page
title: 프로젝트
subheadline: Aspectran 기반
teaser: Aspectran을 기반으로 유용한 애플리케이션을 개발하고 있습니다.
header:
  image_fullwidth: header_modules.jpg
  caption: Photo by Juho Jeong
outside_heading: true
breadcrumb: true
permalink: /projects/
projects:
  - subheadline: Aspectran 사용의 실제 사례
    title: Aspectran Demo Site
    description: 이 사이트는 권장 모범 사례에 따라 Aspectran 응용 프로그램을 개발하는 방법을 보여주기 위해 만든 참조 응용 프로그램 모음입니다.
    thumb_img: examples/pr-demo-site.png
    url: https://demo.aspectran.com
    repo: https://github.com/aspectran/demo-app
  - subheadline: Aspectran 사용의 실제 사례
    title: Aspectran Demo Site on GAE
    description: 구글 앱엔진에 배포된 Aspectran Demo Site
    thumb_img: examples/pr-demo-site.png
    url: https://demo-gae.aspectran.com
    repo: https://github.com/aspectran/demo-site
  - subheadline: Aspectran 사용의 실제 사례
    title: JPetStore Demo
    description: JPetStore는 MyBatis 3, Aspectran 6 위에 구축된 완전한 웹 애플리케이션입니다.
    thumb_img: examples/pr-demo-site.png
    url: https://jpetstore.aspectran.com
    repo: https://github.com/aspectran/aspectran-jpetstore
  - subheadline: TTS (텍스트 음성 변환)
    title: Skylark Terminal
    description: Skylark은 모든 텍스트를 음성으로 변환하는 텍스트 음성 변환 프로그램입니다.
    thumb_img: examples/pr-skylark-terminal.png
    url: https://skylark.aspectran.com
    repo: https://github.com/aspectran/skylark
---

<div class="grid-x grid-margin-x">
  {% for project in page.projects %}
  <div class="cell large-6 panel white b20">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <p class="subheadline">{% if project.subheadline %}{{ project.subheadline }}{% endif %}</p>
          <h3 class="underline"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h3>
        </div>
      {% if project.thumb_img %}
        <div class="cell small-5 medium-4">
          <a href="{{ site.baseurl }}{{ project.url }}" title="{{ project.title | escape_once }}"><img src="{{ site.urlimg }}{{ project.thumb_img }}" class="alignleft" width="100%" alt="{{ project.title | escape_once }}"></a>
        </div>
        <div class="cell small-7 medium-8">
          <p>{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
          {% if project.repo %}<p class="icon-github"> <a href="{{ project.repo }}">{{ project.repo }}</a></p>{% endif %}
        </div>
      {% else %}
        <div class="cell">
          <p>{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
          {% if project.repo %}<p class="icon-github"> <a href="{{ project.repo }}">{{ project.repo }}</a></p>{% endif %}
        </div>
      {% endif %}
      </div>
  </div>
  {% endfor %}
</div>
