---
layout: default
---

{% include forkme-ribbon %}

<div id="masthead">
  <div class="row badges">
    <div class="medium-12 columns b10">
      <a href="https://travis-ci.org/aspectran/aspectran" target="_blank" title="Build Status"><img src="https://travis-ci.org/aspectran/aspectran.svg" alt=""/></a>
      <a href="https://maven-badges.herokuapp.com/maven-central/com.aspectran/aspectran" target="_blank" title="Maven central"><img src="https://maven-badges.herokuapp.com/maven-central/com.aspectran/aspectran/badge.svg#v{{ site.data.aspectran.stable_version }}" alt=""/></a>
      <a href="https://www.apache.org/licenses/LICENSE-2.0.html" target="_blank" title="Apache License 2.0"><img src="https://img.shields.io/:license-apache-orange.svg" alt=""/></a>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns b10">
      {% include frontpage-widget widget=page.widget2 %}
    </div>
    <div class="large-3 columns b10">
      {% include frontpage-widget widget=page.widget3 %}
    </div>
    <div class="large-3 columns b10">
      {% include frontpage-widget widget=page.widget4 %}
    </div>
    <div class="large-3 columns b10">
      {% include frontpage-widget widget=page.widget5 %}
    </div>
  </div>
  <div class="hexagons show-for-large">
    <div class="hexagon hex1"></div>
    <div class="hexagon hex2"></div>
    <div class="hexagon hex3"></div>
    <div class="hexagon hex4"></div>
    <div class="hexagon hex5"></div>
    <div class="hexagon hex6"></div>
  </div>
</div>

{% unless page.projects == empty %}
<div class="row t30">
  <div class="columns">
    <div class="panel white">
      <div class="row">
          {% for project in page.projects limit:2 %}
            <div class="medium-6 columns">
              <div class="row">
                <div class="small-12 columns">
                  <p class="subheadline">{% if project.subheadline %}{{ project.subheadline }}{% endif %}</p>
                  <h3><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h3>
                </div>
              {% if project.thumb_img %}
                <div class="small-5 medium-4 columns">
                  <a href="{{ site.baseurl }}{{ project.url }}" title="{{ project.title | escape_once }}"><img src="{{ site.urlimg }}{{ project.thumb_img }}" class="alignleft" width="100%" alt="{{ project.title | escape_once }}"></a>
                </div>
                <div class="small-7 medium-8 columns">
                  <p>
                    {% if project.description %}{{ project.description | strip_html | escape }}{% elsif project.teaser %}{{ project.teaser | strip_html | escape }}{% endif %}
                  </p>
                </div>
              {% else %}
                <div class="small-12 columns">
                  <p>
                    {% if project.description %}{{ project.description | strip_html | escape }}{% elsif project.teaser %}{{ project.teaser | strip_html | escape }}{% endif %}
                  </p>
                </div>
              {% endif %}
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endunless %}

{% unless site.guides == empty %}
<div class="row t30">
  <div class="columns">
    {% if page.asciinema %}
    <div class="asciinema hide-for-large">
      <div class="row">
        <div class="small-12 columns">
          <a href="https://asciinema.org/a/{{ page.asciinema }}"><img src="https://asciinema.org/a/{{ page.asciinema }}.png" width="836"/></a>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="panel white">
      <div class="row">
        {% if page.asciinema %}
        <div class="asciinema show-for-large">
          <div class="row">
            <div class="small-12 columns">
              <script type="text/javascript" src="https://asciinema.org/a/{{ page.asciinema }}.js" id="asciicast-{{ page.asciinema }}" async></script>
            </div>
          </div>
        </div>
        {% endif %}

        {% for guide in site.guides limit:2 %}
        <div class="medium-6 columns">
          <div class="row">
            <div class="small-12 columns">
              <p class="subheadline">{% if guide.subheadline %}{{ guide.subheadline }}{% endif %}</p>
              <h3><a href="{{ site.baseurl }}{{ guide.url }}">{{ guide.title }}</a></h3>
            </div>
          {% if guide.image.thumb %}
            <div class="small-5 medium-4 columns">
              <a href="{{ site.baseurl }}{{ guide.url }}" title="{{ guide.title | escape_once }}"><img src="{{ site.urlimg }}{{ guide.image.thumb }}" class="alignleft" width="100%" alt="{{ guide.title | escape_once }}"></a>
            </div>
            <div class="small-7 medium-8 columns">
              <p>
                {% if guide.meta_description %}{{ guide.meta_description | strip_html | escape }}{% elsif guide.teaser %}{{ guide.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.baseurl }}{{ guide.url }}" title="{{ guide.title | escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
              </p>
            </div>
          {% else %}
            <div class="small-12 columns">
              <p>
                {% if guide.meta_description %}{{ guide.meta_description | strip_html | escape }}{% elsif guide.teaser %}{{ guide.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.baseurl }}{{ guide.url }}" title="{{ guide.title | escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
              </p>
            </div>
          {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="small-12 columns t20 hide">
          <p><strong>{{ site.data.language.more_examples }}</strong></p>
          {% include list-examples entries='3' offset='2' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endunless %}

<div class="row">
  <div class="medium-12 large-8 columns t30">
  {% unless site.posts == empty %}
    {% for post in site.posts limit:2 %}
    <div class="row b20">
      <div class="small-12 columns">
        <p class="subheadline">{% if post.subheadline %}{{ post.subheadline }}{% endif %}</p>
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      </div>
      {% if post.image.thumb %}
      <div class="small-4 columns">
        <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img src="{{ site.urlimg }}{{ post.image.thumb }}" class="alignleft" width="100%" alt="{{ post.title | escape_once }}"></a>
      </div>
      <div class="small-8 columns">
        <p>
          {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
        </p>
      </div>
      {% else %}
      <div class="small-12 columns">
        <p>
          {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
        </p>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    <div class="row">
      <div class="small-12 columns">
        <p><strong>{{ site.data.language.more_articles }}</strong></p>
        {% include list-posts entries='3' offset='2' %}
      </div>
    </div>
  {% endunless %}
  </div>
  <div class="medium-12 large-4 columns t30">
    {% include sidebar %}
  </div>
</div>

<div class="row">
  {{ content }}
</div><!-- /.row -->
