---
layout: default
---

{% include _forkme-ribbon.html %}

<div id="masthead">
  <div class="grid-container">
    <div class="grid-x grid-padding-x badges">
      <div class="cell b10">
        <a href="https://github.com/aspectran/aspectran/actions?query=workflow%3A%22Java+CI%22" target="_blank" title="Build Status"><img src="https://github.com/aspectran/aspectran/workflows/Java%20CI/badge.svg" alt=""/></a>
        <a href="https://maven-badges.herokuapp.com/maven-central/com.aspectran/aspectran" target="_blank" title="Maven central"><img src="https://maven-badges.herokuapp.com/maven-central/com.aspectran/aspectran/badge.svg#v{{ site.data.aspectran.stable_version }}" alt=""/></a>
        <a href="https://www.apache.org/licenses/LICENSE-2.0.html" target="_blank" title="Apache License 2.0"><img src="https://img.shields.io/:license-apache-orange.svg" alt=""/></a>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 large-3 cell b10">
        {% include _frontpage-widget.html widget=page.widget1 %}
      </div>
      <div class="medium-6 large-3 cell b10">
        {% include _frontpage-widget.html widget=page.widget2 %}
      </div>
      <div class="medium-6 large-3 cell b10">
        {% include _frontpage-widget.html widget=page.widget3 %}
      </div>
      <div class="medium-6 large-3 cell b10">
        {% include _frontpage-widget.html widget=page.widget4 %}
      </div>
    </div>
  </div>
</div>

{% if page.asciinema %}
<div class="asciinema hide-for-large">
  <a href="https://asciinema.org/a/{{ page.asciinema }}"><img src="https://asciinema.org/a/{{ page.asciinema }}.png" width="836"/></a>
</div>
<div class="asciinema show-for-large">
  <script type="text/javascript" src="https://asciinema.org/a/{{ page.asciinema }}.js" id="asciicast-{{ page.asciinema }}" async></script>
</div>
{% endif %}

{% unless page.projects == empty %}
<div class="grid-container">
  <div class="grid-x grid-margin-x t30">
    {% for project in page.projects %}
    <div class="cell large-6 panel white b20">
        <div class="grid-x grid-margin-x">
          <div class="cell">
            <p class="subheadline">{% if project.subheadline %}{{ project.subheadline }}{% endif %}</p>
            <h3 class="underline">
              <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
              <a href="{{ site.baseurl }}{{ project.url }}" class="float-right"><span class="fi-monitor"></span></a>
            </h3>
          </div>
        {% if project.thumb_img %}
          <div class="cell small-5 medium-4">
            <a href="{{ site.baseurl }}{{ project.url }}" title="{{ project.title | escape_once }}"><img src="{{ site.urlimg }}{{ project.thumb_img }}" class="alignleft" width="100%" alt="{{ project.title | escape_once }}"></a>
          </div>
          <div class="cell small-7 medium-8">
            {% if project.repo %}<p class="source ellipses"><a class="icon-github" href="{{ project.repo }}"> {{ project.repo }}</a></p>{% endif %}
            <p>{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
          </div>
        {% else %}
          <div class="cell">
            {% if project.repo %}<p class="source ellipses"><a class="icon-github" href="{{ project.repo }}">{{ project.repo }}</a></p>{% endif %}
            <p>{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
          </div>
        {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="cell text-right">
      <a href="{{ site.baseurl }}/projects/"><strong>{{ site.data.language.more }}</strong> <span class="icon-chevron-right"></span>&nbsp;</a>
    </div>
  </div>
</div>
{% endunless %}

<div class="grid-container">
  <div class="grid-x">
    <div class="large-8 cell t30">
      {% unless site.guides == empty %}
      <div class="grid-x grid-padding-x">
        {% for guide in site.guides limit:6 %}
        <div class="cell large-6 b10">
          <div class="grid-x grid-padding-x">
            <div class="cell">
              <p class="subheadline">{% if guide.subheadline %}{{ guide.subheadline }}{% endif %}</p>
              <h3><a href="{{ site.baseurl }}{{ guide.url }}">{{ guide.title }}</a></h3>
            </div>
          {% if guide.image.thumb %}
            <div class="small-4 medium-3 large-4 cell">
              <a href="{{ site.baseurl }}{{ guide.url }}" title="{{ guide.title | escape_once }}"><img src="{{ site.urlimg }}{{ guide.image.thumb }}" class="alignleft" width="100%" alt="{{ guide.title | escape_once }}"></a>
            </div>
            <div class="small-8 medium-9 large-8 cell">
              <p>
                {% if guide.meta_description %}{{ guide.meta_description | strip_html | escape }}{% elsif guide.teaser %}{{ guide.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.baseurl }}{{ guide.url }}" title="{{ guide.title | escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
              </p>
            </div>
          {% else %}
            <div class="cell">
              <p>
                {% if guide.meta_description %}{{ guide.meta_description | strip_html | escape }}{% elsif guide.teaser %}{{ guide.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.baseurl }}{{ guide.url }}" title="{{ guide.title | escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
              </p>
            </div>
          {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="cell text-right">
          <a href="{{ site.baseurl }}/guides/"><strong>{{ site.data.language.more }}</strong> <span class="icon-chevron-right"></span>&nbsp;</a>
        </div>
      </div>
      {% endunless %}
    </div>
    <div class="large-4 cell t30">
      {% if page.lang == "en" %}
        {% include _sidebar_en.html %}
      {% else %}
        {% include _sidebar.html %}
      {% endif %}
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x">
    {{ content }}
  </div>
</div>
