---
layout: default
---

<div id="masthead" class="grey-ground">
  <div class="row">
    <div class="medium-12 columns b10">
      <a href="https://travis-ci.org/aspectran/aspectran" target="_blank" title="Build Status"><img src="https://travis-ci.org/aspectran/aspectran.svg" alt=""/></a>
      <a href="https://github.com/aspectran/aspectran" target="_blank" title="Apache License 2.0"><img src="http://img.shields.io/badge/license-Apache%202-red.svg" alt=""/></a>
    </div>
    <div class="medium-6 large-3 columns b10">
      {% include frontpage-widget widget=page.widget2 %}
    </div>
    <div class="medium-6 large-3 columns b10">
      {% include frontpage-widget widget=page.widget3 %}
    </div>
    <div class="medium-6 large-3 columns b10">
      {% include frontpage-widget widget=page.widget4 %}
    </div>
    <div class="medium-6 large-3 columns b10">
      {% include frontpage-widget widget=page.widget5 %}
    </div>
    {% include forkme-ribbon %}
  </div>
</div>

{% unless site.examples == empty %}
<div class="row t30">
  <div class="columns">
    <div class="panel white">
      <div class="row">
        {% assign examples = site.examples %}
        {% for example in examples limit:2 %}
        <div class="medium-6 columns">
          <div class="row">
            <div class="small-12 columns">
              <p class="subheadline">{% if example.subheadline %}{{ example.subheadline }}{% endif %}</p>
              <h3><a href="{{ site.baseurl }}{{ example.url }}">{{ example.title }}</a></h3>
            </div>
          {% if example.image.thumb %}
            <div class="small-5 medium-4 columns">
              <a href="{{ site.baseurl }}{{ example.url }}" title="{{ example.title escape_once }}"><img src="{{ site.urlimg }}{{ example.image.thumb }}" class="alignleft" width="100%" alt="{{ example.title escape_once }}"></a>
            </div>
            <div class="small-7 medium-8 columns">
              <p>
                {% if example.meta_description %}{{ example.meta_description | strip_html | escape }}{% elsif example.teaser %}{{ example.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.baseurl }}{{ example.url }}" title="{{ example.title escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
              </p>
            </div>
          {% else %}
            <div class="small-12 columns">
              <p>
                {% if example.meta_description %}{{ example.meta_description | strip_html | escape }}{% elsif example.teaser %}{{ example.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.baseurl }}{{ example.url }}" title="{{ example.title escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
              </p>
            </div>
          {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="small-12 columns t20 hide">
          <p><strong>{{ site.data.language.more_examples }}</strong></p>
          {% include list-examples entries='3' offset='2' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endunless %}

<div class="row">
  <div class="medium-12 large-8 columns t30">
  {% unless site.posts == empty %}
    {% for post in site.posts limit:2 %}
    <div class="row b20">
      <div class="small-12 columns">
        <p class="subheadline">{% if post.subheadline %}{{ post.subheadline }}{% endif %}</p>
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      </div>
      {% if post.image.thumb %}
      <div class="small-4 columns">
        <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title escape_once }}"><img src="{{ site.urlimg }}{{ post.image.thumb }}" class="alignleft" width="100%" alt="{{ post.title escape_once }}"></a>
      </div>
      <div class="small-8 columns">
        <p>
          {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
        </p>
      </div>
      {% else %}
      <div class="small-12 columns">
        <p>
          {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
        </p>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    <div class="row">
      <div class="small-12 columns">
        <p><strong>{{ site.data.language.more_articles }}</strong></p>
        {% include list-posts entries='3' offset='2' %}
      </div>
    </div>
  {% endunless %}
  </div>
  <div class="medium-12 large-4 columns t30">
    {% include sidebar %}
  </div>
</div>

<div class="row">
  {{ content }}
</div><!-- /.row -->
