---
layout: default
---
<section itemscope itemtype="https://schema.org/Article">

{% include _masthead.liquid %}

{% if page.format contains "plate" %}
<div class="row">
  <div class="columns">
    <div class="row content">
      <div class="columns">
{% endif %}

<div class="row t30">
  <div class="medium-12 columns">

    <dl class="tabs" data-tabs id="module-tabs">
      <dd class="tabs-title is-active"><a href="#overview"><span class="iconfont"></span> GETTING STARTED</a></dd>
      <dd class="tabs-title" id="reviewsTab"><a href="#reviews"><span class="iconfont"></span> REVIEWS <span class="icon-chat"></span><span class="disqus-comment-count">0 Comments</span></a></dd>
    </dl>

    <div class="tabs-content" data-tabs-content="module-tabs">
      <div class="tabs-panel is-active" id="overview" itemprop="articleSection">
        <div class="row">

          <div class="large-3 large-push-9 columns b20">
            <aside class="lazy-sticky">
              <div id="toc">
                <div class="toc-title">Table of Contents</div>
                <ul>
                </ul>
              </div>
              {% if page.download.source %}
              <div class="t20">
                <h4 class="underline">Get the Code</h4>
                <p>All source code for this module is uploaded on GitHub.</p>
                {% include link-box href=page.download.source %}
              </div>
              {% endif %}
              {% if site.google_translate_website == true %}
              <div id="google_translate_element"></div>
              {% endif %}
            </aside>
          </div>

          <div class="columns large-9 large-pull-3">
            <article>
              {{ content }}
            </article>
          </div>

        </div><!-- /.grid-x -->
      </div>

      <div class="tabs-panel" id="reviews">
      </div>
    </div>

  </div>
</div>

{% if page.format contains "plate" %}
      </div>
    </div>
  </div>
</div>
{% endif %}

</section>
{% include _comments-count.liquid %}
