---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include head %}
</head>
<body id="top-of-page" class="plate {{page.format}}">

	{% include navigation %}

	<article itemscope itemtype="http://schema.org/Article">

		<div id="masthead">
			{% include forkme-ribbon %}
			<div class="row header">
				<div class="columns">
					<header>
						{% if page.image.title %}
						<figure>
							<img itemprop="image" src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
							{% if page.image.caption_url and page.image.caption %}
							<figcaption class="text-right">
								<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
							</figcaption>
							{% elsif page.image.caption %}
							<figcaption class="text-right">
								{{ page.image.caption }}
							</figcaption>
							{% endif %}
						</figure>
						{% endif %}

						{% if page.subheadline %}
						<p class="subheadline" itemprop="alternativeHeadline">{{ page.subheadline }}</p>
						{% endif %}
						<h1 itemprop="headline">{{ page.title }}</h1>
						{% if page.teaser %}
						<p class="teaser" itemprop="description">
							{{ page.teaser }}
						</p>
						{% endif %}

					</header>
				</div><!-- /.small-12.columns -->
			</div><!-- /.row -->
			<div class="row breadcrumbs-bar">
				<div class="columns">
					{% if page.breadcrumb == true %}
					{% include breadcrumb %}
					{% else %}
					&nbsp;
					{% endif %}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-10 medium-offset-1 large-12 large-offset-0 columns">
				<div class="row content">
					<div class="medium-12 medium-offset-0 large-10 large-offset-1 columns t50 b50">
						<span itemprop="articleBody">
						{{ content }}
						</span>

						{% if page.comments == true %}
						<div class="t50">
							{% include comments %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

	</article>

	{% unless page.skip_boilerplate %}
	{% include footer %}
	{% endunless %}

	{% include footer-scripts %}

</body>
</html>
